workflow_planilha_whatsapp_teste.json
{
  "name": "Disparo WhatsApp - Planilha Local (Templates Teste)",
  "nodes": [
    {
      "parameters": {},
      "id": "eb4d11c0-fe17-4440-ac44-dcf13370258e",
      "name": "Teste Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -32
      ]
    },
    {
      "parameters": {
        "filePath": "={{ String($env.CONTACTS_CSV_PATH || '').includes('/home/node/.n8n-files') ? $env.CONTACTS_CSV_PATH : '/home/node/.n8n-files/planilha_mestre_segmentada_nobom.csv' }}"
      },
      "id": "d99abb5a-ac09-4005-bd9a-a40ba5ae9510",
      "name": "Ler CSV da Pasta Saida",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -352,
        -32
      ]
    },
    {
      "parameters": {
        "fileFormat": "csv",
        "options": {
          "headerRow": true
        }
      },
      "id": "d20a8038-da40-4f0c-bae0-eec5c7f09862",
      "name": "Converter CSV em Itens",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        -112,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const maxContacts = Number($env.CAMPAIGN_MAX_CONTACTS || 200);\nconst rampEnabled = String($env.CAMPAIGN_RAMP_ENABLED || 'true').toLowerCase() === 'true';\nconst rampProfileRaw = String($env.CAMPAIGN_RAMP_PROFILE || '40|80|150|250|400|600').trim();\nconst rampProfile = rampProfileRaw\n  .split(/[|;,]/)\n  .map((value) => Number(String(value).trim()))\n  .filter((value) => Number.isFinite(value) && value > 0);\n\nif (!rampProfile.length) {\n  rampProfile.push(maxContacts);\n}\n\nconst rampDayRaw = Number($env.CAMPAIGN_RAMP_DAY || 1);\nconst rampDay = Number.isFinite(rampDayRaw) && rampDayRaw > 0 ? Math.floor(rampDayRaw) : 1;\nconst rampLimit = rampEnabled\n  ? rampProfile[Math.min(rampDay - 1, rampProfile.length - 1)]\n  : maxContacts;\nconst effectiveMaxContacts = Math.max(1, Math.min(maxContacts, rampLimit));\nconst groupFilterRaw = String($env.CAMPAIGN_GROUP_FILTER || '').trim();\nconst ownerFilterRaw = String($env.CAMPAIGN_OWNER_FILTER || '').trim();\nconst targetNameRaw = String($env.CAMPAIGN_TARGET_NAME || '').trim();\nconst targetGroupRaw = String($env.CAMPAIGN_TARGET_GROUP || '').trim();\nconst validationMode = String($env.CAMPAIGN_VALIDATION_MODE || 'name_group').trim().toLowerCase();\nconst audienceModeRaw = String($env.CAMPAIGN_AUDIENCE || 'clientes').trim().toLowerCase();\nconst audienceMode = 'parceiros';\nconst skipAdmins = String($env.CAMPAIGN_SKIP_ADMINS || 'true').toLowerCase() === 'true';\nconst allowNonBr = String($env.CAMPAIGN_ALLOW_NON_BR || 'false').toLowerCase() === 'true';\nconst ticketDefault = String($env.CAMPAIGN_TICKET_DEFAULT || 'premium').trim().toLowerCase();\nconst ownerHintsRhuanRaw = String($env.CAMPAIGN_OWNER_HINTS_RHUAN || '').trim();\nconst ownerHintsHugoRaw = String($env.CAMPAIGN_OWNER_HINTS_HUGO || '').trim();\n\nconst campaignId = String($env.CAMPAIGN_ID || `campanha_${new Date().toISOString().slice(0, 10)}`).trim();\nconst campaignStatusColumnRaw = String($env.CAMPAIGN_STATUS_COLUMN || 'status_campanha').trim();\nconst campaignStatusIdColumnRaw = String($env.CAMPAIGN_STATUS_ID_COLUMN || 'campanha_status_id').trim();\nconst campaignStatusScopeRaw = String($env.CAMPAIGN_STATUS_SCOPE || 'campaign').trim().toLowerCase();\nconst campaignStatusScope = ['campaign', 'all'].includes(campaignStatusScopeRaw) ? campaignStatusScopeRaw : 'campaign';\nconst campaignStatusFilterRaw = String($env.CAMPAIGN_STATUS_FILTER || 'nao_enviado').trim();\n\nconst seen = new Set();\nconst namedContacts = [];\nconst unnamedContacts = [];\n\nconst normalizeText = (value) => String(value || '')\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase();\n\nconst parseList = (value) => String(value || '')\n  .split(/[;,|]/)\n  .map((item) => normalizeText(item).trim())\n  .filter(Boolean);\n\nconst normalizeCampaignStatus = (value) => {\n  const status = normalizeText(value).replace(/[\\s-]+/g, '_').trim();\n  if (!status) return 'nao_enviado';\n\n  if (['nao_enviado', 'naoenviado', 'novo', 'pendente'].includes(status)) return 'nao_enviado';\n  if (['enviando', 'programado', 'agendado', 'fila'].includes(status)) return 'enviando';\n  if (['enviado', 'concluido', 'finalizado', 'done'].includes(status)) return 'enviado';\n\n  return status;\n};\n\nconst formatCampaignStatus = (status) => {\n  if (status === 'enviado') return 'Enviado';\n  if (status === 'enviando') return 'Enviando';\n  return 'Nao Enviado';\n};\n\nconst campaignStatusFilters = parseList(campaignStatusFilterRaw)\n  .map((status) => normalizeCampaignStatus(status))\n  .filter(Boolean);\n\nif (!campaignStatusFilters.length) {\n  campaignStatusFilters.push('nao_enviado');\n}\n\nconst readCampaignStatusFromRow = (row) => {\n  const candidates = [\n    row[campaignStatusColumnRaw],\n    row.status_campanha,\n    row.status_envio_campanha,\n    row.status_programacao,\n    row.status_envio,\n  ];\n\n  for (const candidate of candidates) {\n    if (candidate === undefined || candidate === null) continue;\n    if (!String(candidate).trim()) continue;\n    return normalizeCampaignStatus(candidate);\n  }\n\n  return 'nao_enviado';\n};\n\nconst readCampaignIdFromRow = (row) => {\n  const candidates = [\n    row[campaignStatusIdColumnRaw],\n    row.campanha_status_id,\n    row.campanha_id,\n    row.campanha,\n  ];\n\n  for (const candidate of candidates) {\n    if (candidate === undefined || candidate === null) continue;\n    const value = String(candidate).trim();\n    if (value) return value;\n  }\n\n  return '';\n};\n\nconst isTruthy = (value) => {\n  const v = normalizeText(value).trim();\n  return ['1', 'true', 'sim', 'yes', 'y'].includes(v);\n};\n\nconst groupFilters = parseList(groupFilterRaw);\nconst ownerFilters = parseList(ownerFilterRaw);\nconst ownerHintsRhuan = parseList(ownerHintsRhuanRaw);\nconst ownerHintsHugo = parseList(ownerHintsHugoRaw);\nconst targetNameNorm = normalizeText(targetNameRaw);\nconst targetGroupNorm = normalizeText(targetGroupRaw);\nconst directTargetEnabled = !!targetNameNorm || !!targetGroupNorm;\n\nconst isValidBrLocal = (digits) => {\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  const ddd = digits.slice(0, 2);\n  if (!/^[1-9][0-9]$/.test(ddd)) return false;\n\n  if (digits.length === 11) {\n    return digits[2] === '9';\n  }\n\n  return /^[2-5]/.test(digits[2]);\n};\n\nconst normalizePhone = (value) => {\n  const digits = String(value || '').replace(/\\D/g, '');\n  if (!digits) return '';\n\n  if (allowNonBr) {\n    return (digits.length >= 10 && digits.length <= 15) ? digits : '';\n  }\n\n  if (digits.startsWith('55')) {\n    const local = digits.slice(2);\n    return isValidBrLocal(local) ? digits : '';\n  }\n\n  return isValidBrLocal(digits) ? `55${digits}` : '';\n};\n\n\nconst inputItems = $input.all();\nconst sourceRows = inputItems.map((item) => ({ ...(item.json || {}) }));\n\nconst contactsCsvRaw = String($env.CONTACTS_CSV_PATH || '').trim();\nconst contactsCsvPath = contactsCsvRaw.includes('/home/node/.n8n-files')\n  ? contactsCsvRaw\n  : '/home/node/.n8n-files/planilha_mestre_segmentada_nobom.csv';\nconst executionId = (typeof $execution !== 'undefined' && $execution && $execution.id)\n  ? String($execution.id)\n  : `${Date.now()}`;\nconst stateKey = `campaign_csv_state_${executionId}`;\n\nconst staticData = $getWorkflowStaticData('global');\n\nconst requiredColumns = [\n  campaignStatusColumnRaw,\n  campaignStatusIdColumnRaw,\n  'status_campanha',\n  'campanha_status_id',\n  'status_programacao',\n];\n\nconst headerKeys = [];\nfor (const row of sourceRows) {\n  for (const key of Object.keys(row || {})) {\n    if (!headerKeys.includes(key)) {\n      headerKeys.push(key);\n    }\n  }\n}\n\nfor (const col of requiredColumns) {\n  if (col && !headerKeys.includes(col)) {\n    headerKeys.push(col);\n  }\n}\n\nconst ensureDefaultStatus = (row) => {\n  const currentStatus = String(row[campaignStatusColumnRaw] || row.status_campanha || '').trim();\n  const safeStatus = currentStatus || 'Nao Enviado';\n\n  row[campaignStatusColumnRaw] = safeStatus;\n  row.status_campanha = safeStatus;\n  row.status_programacao = String(row.status_programacao || safeStatus || 'Nao Enviado').trim() || 'Nao Enviado';\n  row[campaignStatusIdColumnRaw] = String(row[campaignStatusIdColumnRaw] || row.campanha_status_id || '').trim();\n  row.campanha_status_id = String(row.campanha_status_id || row[campaignStatusIdColumnRaw] || '').trim();\n};\n\nsourceRows.forEach(ensureDefaultStatus);\n\nconst rowIndexByPhone = {};\nfor (let i = 0; i < sourceRows.length; i += 1) {\n  const row = sourceRows[i] || {};\n  const phoneCandidate = normalizePhone(row.whatsapp || row.telefone || row.celular || row.phone || row.numero);\n  if (!phoneCandidate) continue;\n  if (rowIndexByPhone[phoneCandidate] === undefined) {\n    rowIndexByPhone[phoneCandidate] = i;\n  }\n}\n\nstaticData[stateKey] = {\n  path: contactsCsvPath,\n  headerKeys,\n  rows: sourceRows,\n  rowIndexByPhone,\n  campaignId,\n  updatedAt: new Date().toISOString(),\n};\n\nconst cleanName = (value) => String(value || '')\n  .replace(/\\s+/g, ' ')\n  .replace(/[^\\p{L}\\p{N}\\s'.-]/gu, '')\n  .trim();\n\nconst cleanTag = (value) => String(value || '')\n  .trim()\n  .replace(/^@+/, '')\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^\\p{L}\\p{N}_.]/gu, '')\n  .toLowerCase();\n\nconst chooseName = (row) => {\n  const candidates = [\n    row.nome,\n    row.name,\n    row.first_name,\n    row.nome_contato,\n    row.contato,\n    row.contact_name,\n  ];\n\n  for (const candidate of candidates) {\n    const clean = cleanName(candidate);\n    if (!clean) continue;\n    const lower = clean.toLowerCase();\n    if (['cliente', 'contato', 'na', 'n/a', 'unknown'].includes(lower)) continue;\n    return clean;\n  }\n\n  return '';\n};\n\nconst chooseMentionTag = (row, nome, phone) => {\n  const candidates = [\n    row.arroba,\n    row.handle,\n    row.username,\n    row.user,\n    row.instagram,\n    row.contato_tag,\n    row.tag,\n    row.mention,\n  ];\n\n  for (const candidate of candidates) {\n    const clean = cleanTag(candidate);\n    if (clean) return `@${clean}`;\n  }\n\n  const firstNameTag = cleanTag(nome ? nome.split(' ')[0] : '');\n  if (firstNameTag) return `@${firstNameTag}`;\n\n  return phone ? `@${phone}` : '@cliente';\n};\n\nconst inferOwner = (row, groupPrincipal, groupsOrigem, origemArquivo) => {\n  const explicitOwner = String(row.origem_responsavel || row.owner || row.responsavel_origem || '').trim();\n  if (explicitOwner) return explicitOwner;\n\n  const source = normalizeText([\n    row.nome || '',\n    groupPrincipal || '',\n    groupsOrigem || '',\n    origemArquivo || '',\n  ].join(' | '));\n\n  if (source.includes('rhuan')) return 'Rhuan';\n  if (source.includes('hugo')) return 'Hugo';\n\n  if (ownerHintsRhuan.some((term) => source.includes(term))) return 'Rhuan';\n  if (ownerHintsHugo.some((term) => source.includes(term))) return 'Hugo';\n\n  return 'Equipe Hogar';\n};\n\nconst extractTicketValue = (rawText) => {\n  const text = String(rawText || '').trim();\n  if (!text) return 0;\n\n  const matches = text.match(/\\d[\\d.,]*/g) || [];\n  let maxValue = 0;\n\n  for (const token of matches) {\n    const cleaned = token.replace(/\\./g, '').replace(/,/g, '.');\n    const value = Number(cleaned);\n    if (Number.isFinite(value) && value > maxValue) {\n      maxValue = value;\n    }\n  }\n\n  return maxValue;\n};\n\nconst inferTicketSegment = (ticketValue) => {\n  if (ticketValue >= 2500000) return 'premium_plus';\n  if (ticketValue >= 1500000) return 'premium';\n  if (ticketValue >= 700000) return 'medio';\n  if (ticketValue > 0) return 'entrada';\n  return ticketDefault;\n};\n\nconst inferGroupProfile = (groupPrincipal, categoria) => {\n  const g = normalizeText(groupPrincipal);\n  const c = normalizeText(categoria);\n\n  if (/corretor|imobiliaria|broker|parceir/.test(g) || /corretor|parceiro/.test(c)) return 'parceiro';\n  if (/invest|capital|renda/.test(g) || /invest/.test(c)) return 'investidor';\n  if (/condominio|morador|residencial|vizinhanca/.test(g)) return 'morador';\n  if (/luxo|alto padrao|premium/.test(g)) return 'luxo';\n  return 'geral';\n};\n\nconst recommendOpportunity = (profile, ticketSegment, focus) => {\n  const key = `${profile}:${ticketSegment}`;\n  const map = {\n    'parceiro:premium_plus': 'imoveis de luxo acima de R$ 2,5M com parceria estrategica',\n    'parceiro:premium': 'imoveis de alto padrao com comissionamento competitivo',\n    'parceiro:medio': 'imoveis com giro rapido para parceria comercial',\n\n    'investidor:premium_plus': 'ativos imobiliarios premium para preservacao de patrimonio',\n    'investidor:premium': 'imoveis de alto padrao com foco em valorizacao e renda',\n    'investidor:medio': 'oportunidades imobiliarias com bom equilibrio risco-retorno',\n\n    'morador:premium_plus': 'residencias de luxo exclusivas com alto nivel de acabamento',\n    'morador:premium': 'imoveis premium em localizacoes nobres',\n    'morador:medio': 'imoveis bem localizados com condicoes especiais',\n\n    'luxo:premium_plus': 'oportunidades signature da carteira Hogar Imoveis de Luxo',\n    'luxo:premium': 'imoveis de luxo com oferta diferenciada da semana',\n    'luxo:medio': 'imoveis de alto padrao com excelente custo-beneficio',\n  };\n\n  return map[key] || focus || 'imoveis de luxo';\n};\n\nfor (const item of inputItems) {\n  const row = item.json || {};\n\n  const rowCampaignStatus = readCampaignStatusFromRow(row);\n  const rowCampaignId = readCampaignIdFromRow(row);\n  const campaignScopedStatus = (campaignStatusScope === 'campaign' && rowCampaignId && rowCampaignId !== campaignId)\n    ? 'nao_enviado'\n    : rowCampaignStatus;\n\n  if (!campaignStatusFilters.includes(campaignScopedStatus)) {\n    continue;\n  }\n\n  const phone = normalizePhone(row.whatsapp || row.telefone || row.celular || row.phone || row.numero);\n  if (!phone) continue;\n  if (seen.has(phone)) continue;\n\n  if (skipAdmins && isTruthy(row.eh_admin)) {\n    continue;\n  }\n\n  const groupsRaw = String(row.grupos_origem || row.grupo_origem || '').trim();\n  const groups = groupsRaw\n    .replace(/excel results/ig, '')\n    .replace(/\\s*\\|\\s*/g, ' | ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  const groupMain = groups ? groups.split('|')[0].trim() : '';\n\n  if (groupFilters.length) {\n    const gNorm = normalizeText(groups);\n    const isGroupFilterMatch = groupFilters.some((term) => gNorm.includes(term));\n    if (!isGroupFilterMatch) continue;\n  }\n\n  const origemArquivo = String(row.arquivos_origem || row.origem_arquivo || '').trim();\n  const owner = inferOwner(row, groupMain, groups, origemArquivo);\n\n  if (ownerFilters.length) {\n    const ownerNorm = normalizeText(owner);\n    const isOwnerMatch = ownerFilters.some((term) => ownerNorm.includes(term));\n    if (!isOwnerMatch) continue;\n  }\n\n  const nome = chooseName(row);\n  const nameNorm = normalizeText(nome);\n  const groupNorm = normalizeText(groupMain || groups);\n\n  const matchName = !targetNameNorm || (nameNorm && nameNorm.includes(targetNameNorm));\n  const matchGroup = !targetGroupNorm || (groupNorm && groupNorm.includes(targetGroupNorm));\n\n  if (directTargetEnabled && (!matchName || !matchGroup)) {\n    continue;\n  }\n\n  const categoriaRaw = String(row.categoria || row.tipo || 'Cliente').trim() || 'Cliente';\n  const categoriaNorm = normalizeText(categoriaRaw);\n  const groupAudienceNorm = normalizeText(groupMain || groups);\n  const isPartnerAudienceContact = /corretor|parceiro|imobiliaria|broker/.test(categoriaNorm)\n    || /corretor|parceir|imobiliaria|broker/.test(groupAudienceNorm);\n\n  if (audienceMode === 'clientes' && isPartnerAudienceContact) {\n    continue;\n  }\n\n  if (audienceMode === 'parceiros' && !isPartnerAudienceContact) {\n    continue;\n  }\n\n  seen.add(phone);\n\n  const primeiroNome = nome ? nome.split(' ')[0] : '';\n  const categoria = categoriaRaw;\n  const telefoneCsv = String(row.telefone || '').replace(/\\D/g, '');\n  const whatsappCsv = String(row.whatsapp || '').replace(/\\D/g, '');\n  const mentionTag = chooseMentionTag(row, nome, phone);\n  const atNomeRaw = cleanTag(primeiroNome);\n\n  const ticketRaw = String(\n    row.ticket_interesse\n      || row.ticket\n      || row.investimento\n      || row.orcamento\n      || row.faixa_preco\n      || row.ticket_faixa\n      || row.faixa\n      || row.budget\n      || ''\n  ).trim();\n  const ticketValue = extractTicketValue(ticketRaw);\n  const ticketSegment = inferTicketSegment(ticketValue);\n  const profile = inferGroupProfile(groupMain, categoria);\n  const focus = String($env.CAMPAIGN_TEMPLATE_FOCUS || 'imoveis de luxo').trim();\n  const opportunity = recommendOpportunity(profile, ticketSegment, focus);\n\n  const ownerPhrase = /rhuan|hugo/i.test(owner) ? owner : 'nossa equipe';\n  const origemMensagem = groupMain\n    ? `Peguei seu contato no grupo \"${groupMain}\" com ${ownerPhrase}.`\n    : `Peguei seu contato por indicacao com ${ownerPhrase}.`;\n\n  const score = (matchName ? 0.5 : 0) + (matchGroup ? 0.5 : 0);\n\n  const normalized = {\n    json: {\n      nome,\n      primeiro_nome: primeiroNome,\n      contato_tag: mentionTag,\n      at_nome: atNomeRaw ? `@${atNomeRaw}` : '',\n      at_numero: phone ? `@${phone}` : '',\n      phone,\n      categoria,\n      telefone_csv: telefoneCsv,\n      whatsapp_csv: whatsappCsv,\n      origem_arquivo: origemArquivo,\n      grupos_origem: groups,\n      grupo_principal: groupMain,\n      origem_responsavel: owner,\n      ticket_interesse_raw: ticketRaw,\n      ticket_interesse_valor: ticketValue,\n      ticket_segmento: ticketSegment,\n      perfil_grupo: profile,\n      oportunidade_recomendada: opportunity,\n      mensagem_contexto_origem: origemMensagem,\n      eh_contato_salvo: String(row.eh_contato_salvo ?? ''),\n      eh_negocio: String(row.eh_negocio ?? ''),\n      eh_admin: String(row.eh_admin ?? ''),\n      contato_id: `${phone}-${origemArquivo || 'local'}`,\n      csv_state_key: stateKey,\n      csv_execution_id: executionId,\n      row_index_csv: Number.isInteger(rowIndexByPhone[phone]) ? rowIndexByPhone[phone] : -1,\n\n      campanha_id: campaignId,\n      campanha_status_id: rowCampaignId || '',\n      status_campanha: formatCampaignStatus(campaignScopedStatus),\n      status_campanha_normalizado: campaignScopedStatus,\n      status_campanha_filtro: campaignStatusFilters.join('|'),\n      status_campanha_coluna: campaignStatusColumnRaw,\n      status_campanha_scope: campaignStatusScope,\n\n      lead_nome_planilha: nome,\n      lead_contato_planilha: phone,\n      lead_grupo_planilha: groupMain,\n      lead_responsavel_planilha: owner,\n      agente_validacao: {\n        modo: validationMode,\n        alvo_nome: targetNameRaw || null,\n        alvo_grupo: targetGroupRaw || null,\n        match_nome: matchName,\n        match_grupo: matchGroup,\n        score,\n      },\n      agente_validacao_status: (matchName && matchGroup) ? 'aprovado' : 'aprovado_sem_alvo',\n    },\n  };\n\n  if (nome) {\n    namedContacts.push(normalized);\n  } else {\n    unnamedContacts.push(normalized);\n  }\n}\n\nlet out = [...namedContacts, ...unnamedContacts];\n\nif (directTargetEnabled) {\n  out = out.sort((a, b) => (b.json.agente_validacao?.score || 0) - (a.json.agente_validacao?.score || 0));\n}\n\nout = out.slice(0, effectiveMaxContacts);\nout = out.map((entry, index) => ({\n  ...entry,\n  json: {\n    ...entry.json,\n    dispatch_sequence: index + 1,\n    status_campanha_programado: 'Enviando',\n    ramp_day: rampDay,\n    ramp_limit: rampLimit,\n    max_contacts_execucao: effectiveMaxContacts,\n  },\n}));\n\nif (!out.length) {\n  let message = `Nenhum contato valido encontrado na planilha local para audiencia \\\"${audienceMode}\\\".`;\n\n  if (directTargetEnabled) {\n    message = 'Nenhum contato encontrado para o alvo de validacao (nome/grupo).';\n  } else if (groupFilters.length) {\n    message = 'Nenhum contato encontrado para o filtro de grupo informado.';\n  }\n\n  return [{\n    json: {\n      _campaignDone: true,\n      message,\n      campanha_id: campaignId,\n      status_campanha_filtro: campaignStatusFilters.join('|'),\n      alvo_nome: targetNameRaw || null,\n      alvo_grupo: targetGroupRaw || null,\n    },\n  }];\n}\n\nreturn out;"
      },
      "id": "69e43cbe-5363-4136-b321-a538c19fa678",
      "name": "Filtrar Contatos Validos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-no-contacts",
              "leftValue": "={{ $json._campaignDone }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55960b7b-02b1-4f8a-b39b-4fb5a785a82b",
      "name": "Ha Contatos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { status: 'sem_contatos', message: $json.message || 'Sem contatos para enviar.' } }];"
      },
      "id": "cf9afa61-19e2-4843-9c69-cff66e2780a1",
      "name": "Sem Contatos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-time-window",
              "leftValue": "={{ (() => { const tz = String($env.CAMPAIGN_TIMEZONE || 'America/Sao_Paulo'); const h = Number(new Intl.DateTimeFormat('en-US', { hour: '2-digit', hour12: false, timeZone: tz }).format(new Date())); const start = Number($env.CAMPAIGN_START_HOUR || 9); const end = Number($env.CAMPAIGN_END_HOUR || 17); return h >= start && h < end; })() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "caf426f1-4a4b-484e-b807-7d287a17487d",
      "name": "Dentro da Janela 09h-17h?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        608,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'fora_janela_envio',\n    message: 'Execucao encerrada: fora da janela permitida (09:00-17:00).',\n    now: new Date().toISOString()\n  }\n}];"
      },
      "id": "909da0ac-80f0-4014-be9d-1ac32928ea1d",
      "name": "Fora da Janela de Envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        -112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6b531aa7-6446-43a0-922b-71fc5d30e2cf",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const nomeCompletoRaw = String($json.nome || '').trim();\nconst primeiroNomeRaw = String($json.primeiro_nome || '').trim();\nconst primeiroNome = primeiroNomeRaw || (nomeCompletoRaw ? nomeCompletoRaw.split(' ')[0] : '');\nconst nome = primeiroNome && primeiroNome.toLowerCase() !== 'cliente' ? primeiroNome : '';\nconst categoria = String($json.categoria || 'Cliente').trim() || 'Cliente';\nconst foco = String($env.CAMPAIGN_TEMPLATE_FOCUS || 'imoveis de luxo').trim();\nconst campaignId = String($env.CAMPAIGN_ID || `campanha_${new Date().toISOString().slice(0, 10)}`);\nconst campaignStatusColumn = String($env.CAMPAIGN_STATUS_COLUMN || 'status_campanha').trim();\nconst campaignStatusIdColumn = String($env.CAMPAIGN_STATUS_ID_COLUMN || 'campanha_status_id').trim();\nconst templateMode = String($env.CAMPAIGN_TEMPLATE_MODE || 'hogar').toLowerCase();\nconst useAtMention = String($env.CAMPAIGN_USE_AT_MENTION || 'false').toLowerCase() === 'true';\nconst greetingStrategyRaw = String($env.CAMPAIGN_GREETING_STRATEGY || 'rotativo').trim().toLowerCase();\nconst greetingStrategy = ['rotativo', 'formal', 'consultivo', 'direto'].includes(greetingStrategyRaw) ? greetingStrategyRaw : 'rotativo';\nconst delayProfileRaw = String($env.CAMPAIGN_DELAY_PROFILE || '').trim();\nconst delaySwitchEvery = Math.max(1, Number($env.CAMPAIGN_DELAY_SWITCH_EVERY || 8));\n\nconst csvStateKey = String($json.csv_state_key || '');\nconst csvRowIndex = Number($json.row_index_csv);\n\nconst updateCsvState = (statusValue) => {\n  if (!csvStateKey || !Number.isInteger(csvRowIndex) || csvRowIndex < 0) return;\n\n  const staticData = $getWorkflowStaticData('global');\n  const state = staticData[csvStateKey];\n  if (!state || !Array.isArray(state.rows) || !state.rows[csvRowIndex]) return;\n\n  const row = state.rows[csvRowIndex];\n  row[campaignStatusColumn] = statusValue;\n  row.status_campanha = statusValue;\n  row.status_programacao = statusValue;\n  row[campaignStatusIdColumn] = campaignId;\n  row.campanha_status_id = campaignId;\n  state.rows[csvRowIndex] = row;\n  staticData[csvStateKey] = state;\n};\n\nconst normalizeTag = (value) => {\n  const clean = String(value || '')\n    .trim()\n    .replace(/^@+/, '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^\\p{L}\\p{N}_.]/gu, '')\n    .toLowerCase();\n  return clean ? `@${clean}` : '';\n};\n\nconst normalizeText = (value) => String(value || '')\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase();\n\nconst originalPhone = String($json.phone || '').replace(/\\D/g, '');\nconst forcePhoneRaw = String($env.CAMPAIGN_FORCE_PHONE || '').trim();\nconst forceDigits = forcePhoneRaw.replace(/\\D/g, '');\nconst forcedPhone = forceDigits ? (forceDigits.startsWith('55') ? forceDigits : `55${forceDigits}`) : '';\nconst usarNumeroTeste = forcedPhone.length >= 12 && forcedPhone.length <= 13;\nconst phoneDestino = usarNumeroTeste ? forcedPhone : originalPhone;\nconst alertaNumeroTeste = forcePhoneRaw && !usarNumeroTeste\n  ? 'CAMPAIGN_FORCE_PHONE invalido. Seguindo telefone original.'\n  : '';\n\nconst telefonePlanilha = String($json.telefone_csv || originalPhone || '').replace(/\\D/g, '');\nconst grupoOrigemBruto = String($json.grupo_principal || $json.grupos_origem || '').trim();\nconst grupoOrigem = grupoOrigemBruto\n  .replace(/excel results/ig, '')\n  .replace(/\\s*\\|\\s*/g, ' | ')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst grupoPrincipal = grupoOrigem ? grupoOrigem.split('|')[0].trim() : '';\n\nconst mentionFromHandle = normalizeTag(\n  $json.contato_tag\n    || $json.arroba\n    || $json.handle\n    || $json.username\n    || $json.user\n    || $json.instagram\n    || ''\n);\nconst mentionFromName = normalizeTag($json.at_nome || nome);\nconst mentionFromPhone = normalizeTag($json.at_numero || originalPhone || phoneDestino);\nconst mentionTag = mentionFromHandle || mentionFromName || mentionFromPhone || '@cliente';\nconst mentionText = useAtMention ? mentionTag : '';\nconst fallbackSaudacao = mentionText || (phoneDestino ? `+${phoneDestino}` : 'cliente');\nconst saudacaoAlvo = nome ? (mentionText ? `${nome} (${mentionText})` : nome) : fallbackSaudacao;\nconst tzSaudacao = String($env.CAMPAIGN_TIMEZONE || 'America/Sao_Paulo');\nconst horaSaudacao = Number(new Intl.DateTimeFormat('en-US', { hour: '2-digit', hour12: false, timeZone: tzSaudacao }).format(new Date()));\nconst saudacaoPeriodo = horaSaudacao < 12 ? 'Bom dia' : (horaSaudacao < 18 ? 'Boa tarde' : 'Boa noite');\n\nconst parseDelayProfiles = (raw, fallbackMin, fallbackMax) => {\n  const defaults = [{ min: fallbackMin, max: fallbackMax }];\n  if (!raw) return defaults;\n\n  const parsed = String(raw)\n    .split(/[|;]/)\n    .map((chunk) => chunk.trim())\n    .filter(Boolean)\n    .map((chunk) => {\n      const match = chunk.match(/^(\\d+)(?:\\s*[-:]\\s*(\\d+))?$/);\n      if (!match) return null;\n      const a = Number(match[1]);\n      const b = Number(match[2] || match[1]);\n      if (!Number.isFinite(a) || !Number.isFinite(b)) return null;\n      const min = Math.max(1, Math.min(a, b));\n      const max = Math.max(min, Math.max(a, b));\n      return { min, max };\n    })\n    .filter(Boolean);\n\n  return parsed.length ? parsed : defaults;\n};\n\nconst fallbackDelayMin = Math.max(1, Number($env.CAMPAIGN_DELAY_MIN_SECONDS || 25));\nconst fallbackDelayMax = Math.max(fallbackDelayMin, Number($env.CAMPAIGN_DELAY_MAX_SECONDS || 45));\nconst delayProfiles = parseDelayProfiles(delayProfileRaw, fallbackDelayMin, fallbackDelayMax);\nconst dispatchSequence = Math.max(1, Number($json.dispatch_sequence || 1));\nconst delayProfileIndex = Math.floor((dispatchSequence - 1) / delaySwitchEvery) % delayProfiles.length;\nconst selectedDelayProfile = delayProfiles[delayProfileIndex] || { min: fallbackDelayMin, max: fallbackDelayMax };\nconst baseDelaySeconds = Math.floor(selectedDelayProfile.min + Math.random() * (selectedDelayProfile.max - selectedDelayProfile.min + 1));\n\nconst longBreakEnabled = String($env.CAMPAIGN_LONG_BREAK_ENABLED || 'true').toLowerCase() === 'true';\nconst longBreakEveryMinRaw = Number($env.CAMPAIGN_LONG_BREAK_EVERY_MIN || 20);\nconst longBreakEveryMaxRaw = Number($env.CAMPAIGN_LONG_BREAK_EVERY_MAX || 30);\nconst longBreakEveryMin = Math.max(1, Math.min(longBreakEveryMinRaw, longBreakEveryMaxRaw));\nconst longBreakEveryMax = Math.max(longBreakEveryMin, Math.max(longBreakEveryMinRaw, longBreakEveryMaxRaw));\nconst longBreakMinSecondsRaw = Number($env.CAMPAIGN_LONG_BREAK_MIN_SECONDS || 300);\nconst longBreakMaxSecondsRaw = Number($env.CAMPAIGN_LONG_BREAK_MAX_SECONDS || 720);\nconst longBreakMinSeconds = Math.max(30, Math.min(longBreakMinSecondsRaw, longBreakMaxSecondsRaw));\nconst longBreakMaxSeconds = Math.max(longBreakMinSeconds, Math.max(longBreakMinSecondsRaw, longBreakMaxSecondsRaw));\n\nconst campaignHashSeed = `${campaignId}|${delayProfileRaw}|${greetingStrategy}`;\nlet campaignHash = 0;\nfor (const ch of campaignHashSeed) {\n  campaignHash = ((campaignHash << 5) - campaignHash + ch.charCodeAt(0)) >>> 0;\n}\n\nconst longBreakEveryRange = Math.max(1, (longBreakEveryMax - longBreakEveryMin + 1));\nconst longBreakEvery = longBreakEveryMin + (campaignHash % longBreakEveryRange);\nconst shouldLongBreak = longBreakEnabled && longBreakEvery > 0 && dispatchSequence % longBreakEvery === 0;\nconst longBreakSeconds = shouldLongBreak\n  ? Math.floor(longBreakMinSeconds + Math.random() * (longBreakMaxSeconds - longBreakMinSeconds + 1))\n  : 0;\n\nconst delaySeconds = baseDelaySeconds + longBreakSeconds;\n\nconst origemResponsavel = String($json.origem_responsavel || 'Equipe Hogar').trim();\nconst perfilGrupo = String($json.perfil_grupo || 'geral').trim().toLowerCase();\nconst ticketSegmento = String($json.ticket_segmento || 'premium').trim().toLowerCase();\nconst ticketRaw = String($json.ticket_interesse_raw || '').trim();\nconst oportunidade = String($json.oportunidade_recomendada || foco).trim();\nconst contextoOrigem = String($json.mensagem_contexto_origem || '').trim() ||\n  (grupoPrincipal\n    ? `Peguei seu contato no grupo \"${grupoPrincipal}\" com ${origemResponsavel}.`\n    : `Peguei seu contato por indicacao com ${origemResponsavel}.`);\n\nconst hashSeed = `${originalPhone}|${campaignId}|${grupoPrincipal}|${categoria}|${nome}|${mentionTag}|${perfilGrupo}|${ticketSegmento}`;\nlet hash = 0;\nfor (const ch of hashSeed) {\n  hash = ((hash << 5) - hash + ch.charCodeAt(0)) >>> 0;\n}\n\nconst pick = (arr, salt = 0) => {\n  if (!arr.length) return '';\n  const index = (hash + salt + Math.floor(Math.random() * 997)) % arr.length;\n  return arr[index];\n};\n\nconst maybe = (value, chance = 0.5) => (Math.random() < chance ? value : '');\n\nconst abordagemPorPerfil = {\n  parceiro: 'Temos uma oportunidade alinhada para parceria comercial da sua rede.',\n  investidor: 'Temos uma oportunidade com foco em valorizacao e estrutura de investimento.',\n  morador: 'Temos uma oportunidade residencial que pode fazer sentido para voce.',\n  luxo: 'Temos uma oportunidade premium da carteira Hogar Imoveis de Luxo.',\n  geral: 'Temos uma oportunidade imobiliaria selecionada para seu perfil.',\n};\n\nconst ctaPorPerfil = {\n  parceiro: [\n    'Posso te enviar os detalhes de parceria e comissionamento?',\n    'Quer que eu te mande agora as condicoes comerciais dessa oportunidade?',\n  ],\n  investidor: [\n    'Posso te enviar o resumo de ticket, potencial e condicoes dessa oportunidade?',\n    'Quer que eu te mande uma analise objetiva dessa opcao?',\n  ],\n  morador: [\n    'Posso te encaminhar os detalhes e disponibilidade por aqui?',\n    'Quer que eu te envie um resumo com condicoes e proximos passos?',\n  ],\n  luxo: [\n    'Posso te enviar agora os detalhes completos dessa oportunidade premium?',\n    'Quer que eu te encaminhe a apresentacao dessa opcao de alto padrao?',\n  ],\n  geral: [\n    'Posso te enviar os detalhes dessa oportunidade agora?',\n    'Quer que eu te encaminhe um resumo rapido por aqui?',\n  ],\n};\n\nlet mensagemFinal = '';\nlet templateName = 'PARCEIRO_V1';\n\nif (templateMode === 'debug') {\n  templateName = 'DEBUG';\n  mensagemFinal = [\n    'TESTE TECNICO - AGENTE VALIDACAO',\n    `contato_id: ${$json.contato_id || '-'}`,\n    `nome: ${nome || '-'}`,\n    `mention_tag: ${mentionText || '(desabilitado)'}`,\n    `grupo_principal: ${grupoPrincipal || '-'}`,\n    `origem_responsavel: ${origemResponsavel}`,\n    `perfil_grupo: ${perfilGrupo}`,\n    `ticket_segmento: ${ticketSegmento}`,\n    `ticket_raw: ${ticketRaw || '-'}`,\n    `oportunidade: ${oportunidade}`,\n    `contexto_origem: ${contextoOrigem}`,\n    `telefone_planilha: +${telefonePlanilha || '-'}`,\n    `telefone_destino: +${phoneDestino || '-'}`,\n    `campaign_id: ${campaignId}`,\n  ].join('\\n');\n} else {\n  const saudacaoPersonalizada = nome ? `Bom dia ${nome}, tudo bem?` : 'Bom dia, tudo bem?';\n\n  const variacoesMensagem = [\n    [\n      saudacaoPersonalizada,\n      'Vi que temos alguns grupos de corretores em comum.',\n      'Hoje cuido da area imobiliaria de uma holding familiar aqui na cidade. Um dos socios possui uma industria de alimentos bastante relevante e acabamos centralizando as negociacoes de compra e venda de imoveis da familia.',\n      'Com isso surgem boas oportunidades e estamos buscando parceiros para trabalhar conosco nessas negociacoes.',\n      'Se fizer sentido para voce, posso ir te encaminhando os negocios que forem aparecendo.',\n      'Nosso Instagram: https://instagram.com/hogarimoveis_',\n    ],\n    [\n      saudacaoPersonalizada,\n      'Notei que participamos de alguns grupos de corretores em comum.',\n      'Hoje sou responsavel pela area imobiliaria de uma holding familiar aqui da cidade. Um dos socios possui uma industria de alimentos bem consolidada e acabamos concentrando as negociacoes imobiliarias da familia.',\n      'Por conta disso surgem algumas oportunidades interessantes e estamos buscando alguns parceiros para atuar conosco.',\n      'Se fizer sentido para voce, posso te encaminhar os negocios que forem aparecendo.',\n      'Instagram: https://instagram.com/hogarimoveis_',\n    ],\n    [\n      saudacaoPersonalizada,\n      'Vi que temos alguns grupos de corretores em comum e resolvi entrar em contato.',\n      'Hoje cuido da parte imobiliaria de uma holding familiar e acabamos centralizando as negociacoes de compra e venda de imoveis da familia.',\n      'Isso acaba gerando algumas oportunidades interessantes e estamos buscando parceiros para trabalhar junto conosco.',\n      'Caso tenha interesse, posso ir te enviando os negocios que surgirem.',\n      'Nosso Instagram: https://instagram.com/hogarimoveis_',\n    ],\n    [\n      saudacaoPersonalizada,\n      'Percebi que temos alguns grupos de corretores em comum.',\n      'Hoje cuido da area imobiliaria de uma holding familiar aqui na cidade. Um dos socios possui uma industria de alimentos bastante relevante e acabamos centralizando as negociacoes imobiliarias da familia.',\n      'Com isso surgem oportunidades de compra e venda de imoveis e estamos buscando parceiros para atuar nessas negociacoes.',\n      'Se fizer sentido para voce, posso te encaminhar as oportunidades que aparecerem.',\n      'Instagram: https://instagram.com/hogarimoveis_',\n    ],\n  ];\n\n  const mensagensFormatadas = variacoesMensagem.map((blocos) => blocos.join('\\n\\n'));\n  const variacaoIndex = Math.floor(Math.random() * mensagensFormatadas.length);\n  templateName = `PARCEIRO_V${variacaoIndex + 1}`;\n  mensagemFinal = mensagensFormatadas[variacaoIndex].replace(/\\\\n/g, '\\n');\n}\n\nconst typingEnabled = String($env.CAMPAIGN_TYPING_ENABLED || 'true').toLowerCase() === 'true';\nconst typingPresence = String($env.CAMPAIGN_TYPING_PRESENCE || 'composing').trim() || 'composing';\nconst typingMinMs = Math.max(200, Number($env.CAMPAIGN_TYPING_MIN_MS || 1200));\nconst typingMaxMsRaw = Number($env.CAMPAIGN_TYPING_MAX_MS || 4200);\nconst typingMaxMs = Math.max(typingMinMs, typingMaxMsRaw);\nconst typingMsPerChar = Math.max(5, Number($env.CAMPAIGN_TYPING_MS_PER_CHAR || 28));\nconst typingByTextMs = Math.floor(mensagemFinal.length * typingMsPerChar);\nconst typingRandomMs = Math.floor(typingMinMs + Math.random() * (typingMaxMs - typingMinMs + 1));\nconst typingDelayMs = Math.max(typingMinMs, Math.min(typingMaxMs, Math.round((typingByTextMs + typingRandomMs) / 2)));\n\nupdateCsvState('Enviando');\n\nreturn [{\n  json: {\n    ...$json,\n    campaignId,\n    template_id: templateName,\n    mensagem_final: mensagemFinal,\n    mensagem_variacao_id: templateName,\n    mensagem_linhas: mensagemFinal.split('\\n').length,\n    mensagem_preview: mensagemFinal.slice(0, 200),\n    typing_enabled: typingEnabled,\n    typing_presence: typingPresence,\n    typing_delay_ms: typingDelayMs,\n    categoria,\n    mention_tag: mentionTag,\n    origem_responsavel: origemResponsavel,\n    perfil_grupo: perfilGrupo,\n    ticket_segmento: ticketSegmento,\n    oportunidade_grupo: oportunidade,\n    at_nome: mentionFromName,\n    at_numero: mentionFromPhone,\n    phone_original: originalPhone,\n    phone_destino: phoneDestino,\n    phone: phoneDestino,\n    modo_teste_numero: usarNumeroTeste,\n    alerta_numero_teste: alertaNumeroTeste,\n    template_mode: templateMode,\n    delay_seconds: delaySeconds,\n    delay_base_seconds: baseDelaySeconds,\n    long_break_seconds: longBreakSeconds,\n    long_break_applied: shouldLongBreak,\n    long_break_every: longBreakEvery,\n    delay_profile_index: delayProfileIndex,\n    delay_profile_range: `${selectedDelayProfile.min}-${selectedDelayProfile.max}`,\n    dispatch_sequence: dispatchSequence,\n\n    status_campanha: 'Enviando',\n    status_campanha_normalizado: 'enviando',\n    campanha_status_id: campaignId,\n    status_campanha_coluna: campaignStatusColumn,\n    campanha_status_id_coluna: campaignStatusIdColumn,\n  },\n}];\n"
      },
      "id": "3f18ea68-511c-4fc1-b902-dcbe7a0ff9b4",
      "name": "Montar Template Teste",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-dry-run",
              "leftValue": "={{ (() => { const lock = String($env.CAMPAIGN_SEND_LOCK || 'true').toLowerCase() === 'true'; const dry = String($env.CAMPAIGN_DRY_RUN || 'true').toLowerCase() === 'true'; return lock || dry; })() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bf1b40d0-9d57-47c5-897b-4e9ba5d5c997",
      "name": "Modo Dry Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1088,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const campaignId = String($json.campaignId || $env.CAMPAIGN_ID || `campanha_${new Date().toISOString().slice(0, 10)}`);\nconst csvStateKey = String($json.csv_state_key || '');\nconst rowIndex = Number($json.row_index_csv);\n\nconst statusColumn = String($json.status_campanha_coluna || $env.CAMPAIGN_STATUS_COLUMN || 'status_campanha').trim();\nconst statusIdColumn = String($json.campanha_status_id_coluna || $env.CAMPAIGN_STATUS_ID_COLUMN || 'campanha_status_id').trim();\n\nconst executionId = String(\n  $json.csv_execution_id ||\n  ((typeof $execution !== 'undefined' && $execution && $execution.id) ? $execution.id : '')\n);\nconst runtimeKey = executionId ? `campaign_runtime_${executionId}` : '';\nconst killSwitchThreshold = Math.max(1, Number($env.CAMPAIGN_KILL_SWITCH_ERRORS || 3));\n\nconst staticData = $getWorkflowStaticData('global');\n\nif (csvStateKey && Number.isInteger(rowIndex) && rowIndex >= 0) {\n  const state = staticData[csvStateKey];\n  if (state && Array.isArray(state.rows) && state.rows[rowIndex]) {\n    state.rows[rowIndex][statusColumn] = 'Nao Enviado';\n    state.rows[rowIndex].status_campanha = 'Nao Enviado';\n    state.rows[rowIndex].status_programacao = 'Nao Enviado';\n    state.rows[rowIndex][statusIdColumn] = campaignId;\n    state.rows[rowIndex].campanha_status_id = campaignId;\n    staticData[csvStateKey] = state;\n  }\n}\n\nlet consecutiveErrors = 0;\nif (runtimeKey) {\n  const runtime = staticData[runtimeKey] || {\n    consecutiveErrors: 0,\n    totalErrors: 0,\n    totalSent: 0,\n    killSwitchTriggered: false,\n  };\n\n  runtime.consecutiveErrors = 0;\n  runtime.totalSent = Number(runtime.totalSent || 0) + 1;\n  runtime.lastStatus = 'dry_run';\n  runtime.lastError = '';\n  runtime.updatedAt = new Date().toISOString();\n\n  staticData[runtimeKey] = runtime;\n  consecutiveErrors = Number(runtime.consecutiveErrors || 0);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    envio_ok: true,\n    envio_status: 'dry_run',\n    envio_em: new Date().toISOString(),\n    provider_message_id: '',\n    provider_status: 'DRY_RUN',\n    erro_envio: '',\n\n    campanha_status_id: campaignId,\n    status_campanha: 'Nao Enviado',\n    status_campanha_normalizado: 'nao_enviado',\n\n    consecutive_errors: consecutiveErrors,\n    kill_switch_threshold: killSwitchThreshold,\n    kill_switch_stop: false,\n    kill_switch_reason: '',\n    runtime_key: runtimeKey,\n  }\n}];"
      },
      "id": "a6ec790e-4494-41a9-8330-58888bf13d10",
      "name": "Registrar Preview (Dry Run)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_BASE_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "timeout": 30000
        },
        "specifyBody": "json",
        "jsonBody": "={{ { number: String($('Montar Template Teste').item.json.phone || ''), text: String($('Montar Template Teste').item.json.mensagem_final || '') } }}"
      },
      "id": "b83d36a0-6886-4164-89b7-5dd812341ebe",
      "name": "Enviar WhatsApp (Evolution)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        192
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const leadData = $('Montar Template Teste').item.json;\nconst responseData = $input.item.json || {};\nconst inputError = $input.item.error || null;\n\nconst providerMessageId = responseData?.key?.id || '';\nconst providerStatus = responseData.status || (providerMessageId ? 'PENDING' : 'ERROR');\n\nconst providerErrorMessage =\n  (inputError && inputError.message)\n  || responseData.message\n  || responseData.error\n  || '';\n\nconst hasProviderError = !!providerErrorMessage && !providerMessageId;\nconst envioOk = !!providerMessageId && !hasProviderError;\n\nconst campaignId = String(leadData.campaignId || $env.CAMPAIGN_ID || `campanha_${new Date().toISOString().slice(0, 10)}`);\nconst csvStateKey = String(leadData.csv_state_key || '');\nconst rowIndex = Number(leadData.row_index_csv);\nconst statusColumn = String(leadData.status_campanha_coluna || $env.CAMPAIGN_STATUS_COLUMN || 'status_campanha').trim();\nconst statusIdColumn = String(leadData.campanha_status_id_coluna || $env.CAMPAIGN_STATUS_ID_COLUMN || 'campanha_status_id').trim();\n\nconst executionId = String(\n  leadData.csv_execution_id ||\n  ((typeof $execution !== 'undefined' && $execution && $execution.id) ? $execution.id : '')\n);\nconst runtimeKey = executionId ? `campaign_runtime_${executionId}` : '';\nconst killSwitchThreshold = Math.max(1, Number($env.CAMPAIGN_KILL_SWITCH_ERRORS || 3));\n\nconst staticData = $getWorkflowStaticData('global');\n\nif (csvStateKey && Number.isInteger(rowIndex) && rowIndex >= 0) {\n  const state = staticData[csvStateKey];\n  if (state && Array.isArray(state.rows) && state.rows[rowIndex]) {\n    const finalStatus = envioOk ? 'Enviado' : 'Nao Enviado';\n    state.rows[rowIndex][statusColumn] = finalStatus;\n    state.rows[rowIndex].status_campanha = finalStatus;\n    state.rows[rowIndex].status_programacao = finalStatus;\n    state.rows[rowIndex][statusIdColumn] = campaignId;\n    state.rows[rowIndex].campanha_status_id = campaignId;\n    staticData[csvStateKey] = state;\n  }\n}\n\nlet consecutiveErrors = 0;\nlet killSwitchStop = false;\nlet killSwitchReason = '';\n\nif (runtimeKey) {\n  const runtime = staticData[runtimeKey] || {\n    consecutiveErrors: 0,\n    totalErrors: 0,\n    totalSent: 0,\n    killSwitchTriggered: false,\n  };\n\n  if (envioOk) {\n    runtime.consecutiveErrors = 0;\n    runtime.totalSent = Number(runtime.totalSent || 0) + 1;\n  } else {\n    runtime.consecutiveErrors = Number(runtime.consecutiveErrors || 0) + 1;\n    runtime.totalErrors = Number(runtime.totalErrors || 0) + 1;\n  }\n\n  consecutiveErrors = Number(runtime.consecutiveErrors || 0);\n  killSwitchStop = !envioOk && consecutiveErrors >= killSwitchThreshold;\n\n  if (killSwitchStop) {\n    killSwitchReason = `${consecutiveErrors} erros consecutivos no envio`;\n    runtime.killSwitchTriggered = true;\n    runtime.killSwitchReason = killSwitchReason;\n    runtime.killSwitchAt = new Date().toISOString();\n  }\n\n  runtime.lastStatus = envioOk ? 'enviado' : 'erro';\n  runtime.lastError = envioOk ? '' : (providerErrorMessage || 'Erro desconhecido no envio Evolution');\n  runtime.updatedAt = new Date().toISOString();\n\n  staticData[runtimeKey] = runtime;\n}\n\nreturn [{\n  json: {\n    ...leadData,\n    envio_ok: envioOk,\n    envio_status: envioOk ? 'enviado' : 'erro',\n    envio_em: new Date().toISOString(),\n    provider_message_id: providerMessageId,\n    provider_status: providerStatus,\n    erro_envio: envioOk ? '' : (providerErrorMessage || 'Erro desconhecido no envio Evolution'),\n\n    campanha_status_id: campaignId,\n    status_campanha: envioOk ? 'Enviado' : 'Nao Enviado',\n    status_campanha_normalizado: envioOk ? 'enviado' : 'nao_enviado',\n\n    consecutive_errors: consecutiveErrors,\n    kill_switch_threshold: killSwitchThreshold,\n    kill_switch_stop: killSwitchStop,\n    kill_switch_reason: killSwitchReason,\n    runtime_key: runtimeKey,\n  }\n}];"
      },
      "id": "caa32f41-beb2-4b64-8cfc-9a5c3494a44a",
      "name": "Classificar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        192
      ]
    },
    {
      "parameters": {
        "amount": "={{ Number($json.delay_seconds || Math.floor(Number($env.CAMPAIGN_DELAY_MIN_SECONDS || 25) + Math.random() * (Number($env.CAMPAIGN_DELAY_MAX_SECONDS || 45) - Number($env.CAMPAIGN_DELAY_MIN_SECONDS || 25) + 1))) }}"
      },
      "id": "5c653b8f-a314-42fc-8db2-3f52d347cbea",
      "name": "Espera Anti-RateLimit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1808,
        96
      ],
      "webhookId": "4a3498fd-ddb4-4bc3-bb71-c31fd2465ad1"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst executionId = (typeof $execution !== 'undefined' && $execution && $execution.id)\n  ? String($execution.id)\n  : '';\n\nif (!executionId) {\n  return [{\n    json: {\n      persistencia_csv: false,\n      message: 'execution_id_ausente'\n    }\n  }];\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst stateKey = `campaign_csv_state_${executionId}`;\nconst state = staticData[stateKey];\n\nif (!state || !Array.isArray(state.rows) || !Array.isArray(state.headerKeys) || !state.path) {\n  return [{\n    json: {\n      persistencia_csv: false,\n      message: 'estado_csv_nao_encontrado',\n      stateKey,\n    }\n  }];\n}\n\nconst csvEscape = (value) => {\n  const str = String(value ?? '');\n  if (/[\",\\n\\r]/.test(str)) {\n    return `\"${str.replace(/\"/g, '\"\"')}\"`;\n  }\n  return str;\n};\n\nconst lines = [];\nlines.push(state.headerKeys.map((key) => csvEscape(key)).join(','));\n\nfor (const row of state.rows) {\n  lines.push(state.headerKeys.map((key) => csvEscape(row[key])).join(','));\n}\n\nfs.writeFileSync(state.path, lines.join('\\n'), 'utf8');\ndelete staticData[stateKey];\n\nreturn [{\n  json: {\n    persistencia_csv: true,\n    arquivo_csv: state.path,\n    total_linhas: state.rows.length,\n    execution_id: executionId,\n    atualizado_em: new Date().toISOString(),\n  }\n}];"
      },
      "id": "7a1500dd-112f-4f2c-b64a-6c6666f94ca5",
      "name": "Persistir Status CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const killSwitchStop = Boolean($json.kill_switch_stop);\n\nif (!killSwitchStop) {\n  return [{\n    json: {\n      ...$json,\n      anti_ban_action: 'continue'\n    }\n  }];\n}\n\nconst campaignId = String($json.campaignId || $json.campanha_id || $env.CAMPAIGN_ID || 'campanha');\nconst threshold = Math.max(1, Number($json.kill_switch_threshold || $env.CAMPAIGN_KILL_SWITCH_ERRORS || 3));\nconst reason = String($json.kill_switch_reason || `${threshold} erros consecutivos no envio`).trim();\nconst executionId = String(\n  $json.csv_execution_id ||\n  ((typeof $execution !== 'undefined' && $execution && $execution.id) ? $execution.id : '')\n);\n\nconst stopMessage = [\n  '[ANTI-BAN] Campanha pausada automaticamente.',\n  `Campanha: ${campaignId}`,\n  `Execucao: ${executionId || '-'}`,\n  `Motivo: ${reason}`,\n  `Threshold: ${threshold}`,\n  `Horario: ${new Date().toISOString()}`,\n].join('\\n');\n\nreturn [{\n  json: {\n    ...$json,\n    anti_ban_action: 'stop',\n    kill_switch_stop: true,\n    kill_switch_reason: reason,\n    kill_switch_message: stopMessage,\n  }\n}];"
      },
      "id": "d8435c78-9588-4f2e-9d35-4b2396cdbf4a",
      "name": "Controle Kill Switch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-kill-switch-stop",
              "leftValue": "={{ Boolean($json.kill_switch_stop) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4fd3e8f5-b7bf-4de3-a3a5-6c52cb2bc15a",
      "name": "Parar por Erros?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2048,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const cleanDigits = (value) => String(value || '').replace(/\\D/g, '');\nconst rawAlert = cleanDigits($env.CAMPAIGN_ALERT_PHONE || '');\nconst alertPhone = rawAlert\n  ? (rawAlert.startsWith('55') ? rawAlert : `55${rawAlert}`)\n  : '';\n\nconst campaignId = String($json.campaignId || $json.campanha_id || $env.CAMPAIGN_ID || 'campanha');\nconst reason = String($json.kill_switch_reason || `${$json.kill_switch_threshold || 3} erros consecutivos no envio`).trim();\nconst executionId = String($json.csv_execution_id || '');\n\nconst defaultMessage = [\n  '[ANTI-BAN] Disparo pausado automaticamente.',\n  `Campanha: ${campaignId}`,\n  `Execucao: ${executionId || '-'}`,\n  `Motivo: ${reason}`,\n  `Horario: ${new Date().toISOString()}`,\n].join('\\n');\n\nreturn [{\n  json: {\n    ...$json,\n    alert_phone: alertPhone,\n    alert_message: String($json.kill_switch_message || defaultMessage).trim(),\n    alerta_enviado_para: alertPhone || '',\n  }\n}];"
      },
      "id": "f73dca7a-d84e-4358-9eb3-c8ab3f80fbc0",
      "name": "Preparar Alerta AntiBan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-alert-phone",
              "leftValue": "={{ !!String($json.alert_phone || '').trim() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f8ca57e2-74f3-4e70-a70a-f4678f8f0f77",
      "name": "Tem Telefone Alerta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2528,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_BASE_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "timeout": 30000
        },
        "specifyBody": "json",
        "jsonBody": "={{ { number: String($json.alert_phone || ''), text: String($json.alert_message || '') } }}"
      },
      "id": "9cfe462f-2fb1-4cd4-bf20-22ae56e40c8b",
      "name": "Enviar Alerta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2768,
        272
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-typing-enabled",
              "leftValue": "={{ String($json.typing_enabled ?? 'true').toLowerCase() === 'true' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a35c0b4-0a9f-45ed-93d8-typing-if",
      "name": "Simular Digitando?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_BASE_URL }}/chat/sendPresence/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "options": {
          "timeout": 30000
        },
        "specifyBody": "json",
        "jsonBody": "={{ { number: String($json.phone || ''), options: { delay: Number($json.typing_delay_ms || 2000), presence: String($json.typing_presence || 'composing') } } }}"
      },
      "id": "76be8b89-7f03-4c33-bb8a-typing-http",
      "name": "Enviar Presence Typing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        64
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Teste Manual": {
      "main": [
        [
          {
            "node": "Ler CSV da Pasta Saida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler CSV da Pasta Saida": {
      "main": [
        [
          {
            "node": "Converter CSV em Itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter CSV em Itens": {
      "main": [
        [
          {
            "node": "Filtrar Contatos Validos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Contatos Validos": {
      "main": [
        [
          {
            "node": "Ha Contatos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ha Contatos?": {
      "main": [
        [
          {
            "node": "Sem Contatos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dentro da Janela 09h-17h?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dentro da Janela 09h-17h?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fora da Janela de Envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Persistir Status CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Template Teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Template Teste": {
      "main": [
        [
          {
            "node": "Modo Dry Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modo Dry Run?": {
      "main": [
        [
          {
            "node": "Registrar Preview (Dry Run)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simular Digitando?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Preview (Dry Run)": {
      "main": [
        [
          {
            "node": "Controle Kill Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp (Evolution)": {
      "main": [
        [
          {
            "node": "Classificar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Resultado": {
      "main": [
        [
          {
            "node": "Controle Kill Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera Anti-RateLimit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Controle Kill Switch": {
      "main": [
        [
          {
            "node": "Parar por Erros?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parar por Erros?": {
      "main": [
        [
          {
            "node": "Preparar Alerta AntiBan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera Anti-RateLimit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Alerta AntiBan": {
      "main": [
        [
          {
            "node": "Tem Telefone Alerta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Telefone Alerta?": {
      "main": [
        [
          {
            "node": "Enviar Alerta WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Persistir Status CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Alerta WhatsApp": {
      "main": [
        [
          {
            "node": "Persistir Status CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simular Digitando?": {
      "main": [
        [
          {
            "node": "Enviar Presence Typing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar WhatsApp (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Presence Typing": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "pinData": {}
}