workflow_planilha_whatsapp_teste.json
{"updatedAt":"2026-03-09T11:41:57.669Z","createdAt":"2026-03-09T11:41:57.669Z","id":"OUAfQLqhMta3uqPE","name":"Disparo WhatsApp - Planilha Local (Templates Teste)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"eb4d11c0-fe17-4440-ac44-dcf13370258e","name":"Teste Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-592,-32]},{"parameters":{"filePath":"={{ $env.CONTACTS_CSV_PATH || '/data/saida/planilha_mestre_sem_duplicados.csv' }}"},"id":"d99abb5a-ac09-4005-bd9a-a40ba5ae9510","name":"Ler CSV da Pasta Saida","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-352,-32]},{"parameters":{"fileFormat":"csv","options":{"headerRow":true}},"id":"d20a8038-da40-4f0c-bae0-eec5c7f09862","name":"Converter CSV em Itens","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[-112,-32]},{"parameters":{"jsCode":"const maxContacts = Number($env.CAMPAIGN_MAX_CONTACTS || 200);\nconst groupFilterRaw = String($env.CAMPAIGN_GROUP_FILTER || '').trim();\nconst ownerFilterRaw = String($env.CAMPAIGN_OWNER_FILTER || '').trim();\nconst targetNameRaw = String($env.CAMPAIGN_TARGET_NAME || '').trim();\nconst targetGroupRaw = String($env.CAMPAIGN_TARGET_GROUP || '').trim();\nconst validationMode = String($env.CAMPAIGN_VALIDATION_MODE || 'name_group').trim().toLowerCase();\nconst audienceModeRaw = String($env.CAMPAIGN_AUDIENCE || 'clientes').trim().toLowerCase();\nconst audienceMode = ['clientes', 'parceiros', 'todos'].includes(audienceModeRaw) ? audienceModeRaw : 'clientes';\nconst skipAdmins = String($env.CAMPAIGN_SKIP_ADMINS || 'true').toLowerCase() === 'true';\nconst allowNonBr = String($env.CAMPAIGN_ALLOW_NON_BR || 'false').toLowerCase() === 'true';\nconst ticketDefault = String($env.CAMPAIGN_TICKET_DEFAULT || 'premium').trim().toLowerCase();\nconst ownerHintsRhuanRaw = String($env.CAMPAIGN_OWNER_HINTS_RHUAN || '').trim();\nconst ownerHintsHugoRaw = String($env.CAMPAIGN_OWNER_HINTS_HUGO || '').trim();\n\nconst seen = new Set();\nconst namedContacts = [];\nconst unnamedContacts = [];\n\nconst normalizeText = (value) => String(value || '')\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase();\n\nconst parseList = (value) => String(value || '')\n  .split(/[;,|]/)\n  .map((item) => normalizeText(item).trim())\n  .filter(Boolean);\n\nconst isTruthy = (value) => {\n  const v = normalizeText(value).trim();\n  return ['1', 'true', 'sim', 'yes', 'y'].includes(v);\n};\n\nconst groupFilters = parseList(groupFilterRaw);\nconst ownerFilters = parseList(ownerFilterRaw);\nconst ownerHintsRhuan = parseList(ownerHintsRhuanRaw);\nconst ownerHintsHugo = parseList(ownerHintsHugoRaw);\nconst targetNameNorm = normalizeText(targetNameRaw);\nconst targetGroupNorm = normalizeText(targetGroupRaw);\nconst directTargetEnabled = !!targetNameNorm || !!targetGroupNorm;\n\nconst isValidBrLocal = (digits) => {\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  const ddd = digits.slice(0, 2);\n  if (!/^[1-9][0-9]$/.test(ddd)) return false;\n\n  if (digits.length === 11) {\n    return digits[2] === '9';\n  }\n\n  return /^[2-5]/.test(digits[2]);\n};\n\nconst normalizePhone = (value) => {\n  const digits = String(value || '').replace(/\\D/g, '');\n  if (!digits) return '';\n\n  if (allowNonBr) {\n    return (digits.length >= 10 && digits.length <= 15) ? digits : '';\n  }\n\n  if (digits.startsWith('55')) {\n    const local = digits.slice(2);\n    return isValidBrLocal(local) ? digits : '';\n  }\n\n  return isValidBrLocal(digits) ? `55${digits}` : '';\n};\nconst cleanName = (value) => String(value || '')\n  .replace(/\\s+/g, ' ')\n  .replace(/[^\\p{L}\\p{N}\\s'.-]/gu, '')\n  .trim();\n\nconst cleanTag = (value) => String(value || '')\n  .trim()\n  .replace(/^@+/, '')\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^\\p{L}\\p{N}_.]/gu, '')\n  .toLowerCase();\n\nconst chooseName = (row) => {\n  const candidates = [\n    row.nome,\n    row.name,\n    row.first_name,\n    row.nome_contato,\n    row.contato,\n    row.contact_name,\n  ];\n\n  for (const candidate of candidates) {\n    const clean = cleanName(candidate);\n    if (!clean) continue;\n    const lower = clean.toLowerCase();\n    if (['cliente', 'contato', 'na', 'n/a', 'unknown'].includes(lower)) continue;\n    return clean;\n  }\n\n  return '';\n};\n\nconst chooseMentionTag = (row, nome, phone) => {\n  const candidates = [\n    row.arroba,\n    row.handle,\n    row.username,\n    row.user,\n    row.instagram,\n    row.contato_tag,\n    row.tag,\n    row.mention,\n  ];\n\n  for (const candidate of candidates) {\n    const clean = cleanTag(candidate);\n    if (clean) return `@${clean}`;\n  }\n\n  const firstNameTag = cleanTag(nome ? nome.split(' ')[0] : '');\n  if (firstNameTag) return `@${firstNameTag}`;\n\n  return phone ? `@${phone}` : '@cliente';\n};\n\nconst inferOwner = (row, groupPrincipal, groupsOrigem, origemArquivo) => {\n  const explicitOwner = String(row.origem_responsavel || row.owner || row.responsavel_origem || '').trim();\n  if (explicitOwner) return explicitOwner;\n\n  const source = normalizeText([\n    row.nome || '',\n    groupPrincipal || '',\n    groupsOrigem || '',\n    origemArquivo || '',\n  ].join(' | '));\n\n  if (source.includes('rhuan')) return 'Rhuan';\n  if (source.includes('hugo')) return 'Hugo';\n\n  if (ownerHintsRhuan.some((term) => source.includes(term))) return 'Rhuan';\n  if (ownerHintsHugo.some((term) => source.includes(term))) return 'Hugo';\n\n  return 'Equipe Hogar';\n};\n\nconst extractTicketValue = (rawText) => {\n  const text = String(rawText || '').trim();\n  if (!text) return 0;\n\n  const matches = text.match(/\\d[\\d.,]*/g) || [];\n  let maxValue = 0;\n\n  for (const token of matches) {\n    const cleaned = token.replace(/\\./g, '').replace(/,/g, '.');\n    const value = Number(cleaned);\n    if (Number.isFinite(value) && value > maxValue) {\n      maxValue = value;\n    }\n  }\n\n  return maxValue;\n};\n\nconst inferTicketSegment = (ticketValue) => {\n  if (ticketValue >= 2500000) return 'premium_plus';\n  if (ticketValue >= 1500000) return 'premium';\n  if (ticketValue >= 700000) return 'medio';\n  if (ticketValue > 0) return 'entrada';\n  return ticketDefault;\n};\n\nconst inferGroupProfile = (groupPrincipal, categoria) => {\n  const g = normalizeText(groupPrincipal);\n  const c = normalizeText(categoria);\n\n  if (/corretor|imobiliaria|broker|parceir/.test(g) || /corretor|parceiro/.test(c)) return 'parceiro';\n  if (/invest|capital|renda/.test(g) || /invest/.test(c)) return 'investidor';\n  if (/condominio|morador|residencial|vizinhanca/.test(g)) return 'morador';\n  if (/luxo|alto padrao|premium/.test(g)) return 'luxo';\n  return 'geral';\n};\n\nconst recommendOpportunity = (profile, ticketSegment, focus) => {\n  const key = `${profile}:${ticketSegment}`;\n  const map = {\n    'parceiro:premium_plus': 'imoveis de luxo acima de R$ 2,5M com parceria estrategica',\n    'parceiro:premium': 'imoveis de alto padrao com comissionamento competitivo',\n    'parceiro:medio': 'imoveis com giro rapido para parceria comercial',\n\n    'investidor:premium_plus': 'ativos imobiliarios premium para preservacao de patrimonio',\n    'investidor:premium': 'imoveis de alto padrao com foco em valorizacao e renda',\n    'investidor:medio': 'oportunidades imobiliarias com bom equilibrio risco-retorno',\n\n    'morador:premium_plus': 'residencias de luxo exclusivas com alto nivel de acabamento',\n    'morador:premium': 'imoveis premium em localizacoes nobres',\n    'morador:medio': 'imoveis bem localizados com condicoes especiais',\n\n    'luxo:premium_plus': 'oportunidades signature da carteira Hogar Imoveis de Luxo',\n    'luxo:premium': 'imoveis de luxo com oferta diferenciada da semana',\n    'luxo:medio': 'imoveis de alto padrao com excelente custo-beneficio',\n  };\n\n  return map[key] || focus || 'imoveis de luxo';\n};\n\nfor (const item of $input.all()) {\n  const row = item.json || {};\n  const phone = normalizePhone(row.whatsapp || row.telefone || row.celular || row.phone || row.numero);\n  if (!phone) continue;\n  if (seen.has(phone)) continue;\n\n  if (skipAdmins && isTruthy(row.eh_admin)) {\n    continue;\n  }\n\n  const groupsRaw = String(row.grupos_origem || row.grupo_origem || '').trim();\n  const groups = groupsRaw\n    .replace(/excel results/ig, '')\n    .replace(/\\s*\\|\\s*/g, ' | ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  const groupMain = groups ? groups.split('|')[0].trim() : '';\n\n  if (groupFilters.length) {\n    const gNorm = normalizeText(groups);\n    const isGroupFilterMatch = groupFilters.some((term) => gNorm.includes(term));\n    if (!isGroupFilterMatch) continue;\n  }\n\n  const origemArquivo = String(row.arquivos_origem || row.origem_arquivo || '').trim();\n  const owner = inferOwner(row, groupMain, groups, origemArquivo);\n\n  if (ownerFilters.length) {\n    const ownerNorm = normalizeText(owner);\n    const isOwnerMatch = ownerFilters.some((term) => ownerNorm.includes(term));\n    if (!isOwnerMatch) continue;\n  }\n\n  const nome = chooseName(row);\n  const nameNorm = normalizeText(nome);\n  const groupNorm = normalizeText(groupMain || groups);\n\n  const matchName = !targetNameNorm || (nameNorm && nameNorm.includes(targetNameNorm));\n  const matchGroup = !targetGroupNorm || (groupNorm && groupNorm.includes(targetGroupNorm));\n\n  if (directTargetEnabled && (!matchName || !matchGroup)) {\n    continue;\n  }\n\n  const categoriaRaw = String(row.categoria || row.tipo || 'Cliente').trim() || 'Cliente';\n  const categoriaNorm = normalizeText(categoriaRaw);\n  const groupAudienceNorm = normalizeText(groupMain || groups);\n  const isPartnerAudienceContact = /corretor|parceiro|imobiliaria|broker/.test(categoriaNorm)\n    || /corretor|parceir|imobiliaria|broker/.test(groupAudienceNorm);\n\n  if (audienceMode === 'clientes' && isPartnerAudienceContact) {\n    continue;\n  }\n\n  if (audienceMode === 'parceiros' && !isPartnerAudienceContact) {\n    continue;\n  }\n\n  seen.add(phone);\n\n  const primeiroNome = nome ? nome.split(' ')[0] : '';\n  const categoria = categoriaRaw;\n  const telefoneCsv = String(row.telefone || '').replace(/\\D/g, '');\n  const whatsappCsv = String(row.whatsapp || '').replace(/\\D/g, '');\n  const mentionTag = chooseMentionTag(row, nome, phone);\n  const atNomeRaw = cleanTag(primeiroNome);\n\n  const ticketRaw = String(\n    row.ticket_interesse\n      || row.ticket\n      || row.investimento\n      || row.orcamento\n      || row.faixa_preco\n      || row.ticket_faixa\n      || row.faixa\n      || row.budget\n      || ''\n  ).trim();\n  const ticketValue = extractTicketValue(ticketRaw);\n  const ticketSegment = inferTicketSegment(ticketValue);\n  const profile = inferGroupProfile(groupMain, categoria);\n  const focus = String($env.CAMPAIGN_TEMPLATE_FOCUS || 'imoveis de luxo').trim();\n  const opportunity = recommendOpportunity(profile, ticketSegment, focus);\n\n  const ownerPhrase = /rhuan|hugo/i.test(owner) ? owner : 'nossa equipe';\n  const origemMensagem = groupMain\n    ? `Peguei seu contato no grupo \"${groupMain}\" com ${ownerPhrase}.`\n    : `Peguei seu contato por indicacao com ${ownerPhrase}.`;\n\n  const score = (matchName ? 0.5 : 0) + (matchGroup ? 0.5 : 0);\n\n  const normalized = {\n    json: {\n      nome,\n      primeiro_nome: primeiroNome,\n      contato_tag: mentionTag,\n      at_nome: atNomeRaw ? `@${atNomeRaw}` : '',\n      at_numero: phone ? `@${phone}` : '',\n      phone,\n      categoria,\n      telefone_csv: telefoneCsv,\n      whatsapp_csv: whatsappCsv,\n      origem_arquivo: origemArquivo,\n      grupos_origem: groups,\n      grupo_principal: groupMain,\n      origem_responsavel: owner,\n      ticket_interesse_raw: ticketRaw,\n      ticket_interesse_valor: ticketValue,\n      ticket_segmento: ticketSegment,\n      perfil_grupo: profile,\n      oportunidade_recomendada: opportunity,\n      mensagem_contexto_origem: origemMensagem,\n      eh_contato_salvo: String(row.eh_contato_salvo ?? ''),\n      eh_negocio: String(row.eh_negocio ?? ''),\n      eh_admin: String(row.eh_admin ?? ''),\n      contato_id: `${phone}-${origemArquivo || 'local'}`,\n\n      lead_nome_planilha: nome,\n      lead_contato_planilha: phone,\n      lead_grupo_planilha: groupMain,\n      lead_responsavel_planilha: owner,\n      agente_validacao: {\n        modo: validationMode,\n        alvo_nome: targetNameRaw || null,\n        alvo_grupo: targetGroupRaw || null,\n        match_nome: matchName,\n        match_grupo: matchGroup,\n        score,\n      },\n      agente_validacao_status: (matchName && matchGroup) ? 'aprovado' : 'aprovado_sem_alvo',\n    },\n  };\n\n  if (nome) {\n    namedContacts.push(normalized);\n  } else {\n    unnamedContacts.push(normalized);\n  }\n}\n\nlet out = [...namedContacts, ...unnamedContacts];\n\nif (directTargetEnabled) {\n  out = out.sort((a, b) => (b.json.agente_validacao?.score || 0) - (a.json.agente_validacao?.score || 0));\n}\n\nout = out.slice(0, maxContacts);\nout = out.map((entry, index) => ({\n  ...entry,\n  json: {\n    ...entry.json,\n    dispatch_sequence: index + 1,\n  },\n}));\n\nif (!out.length) {\n  let message = `Nenhum contato valido encontrado na planilha local para audiencia \\\"${audienceMode}\\\".`;\n\n  if (directTargetEnabled) {\n    message = 'Nenhum contato encontrado para o alvo de validacao (nome/grupo).';\n  } else if (groupFilters.length) {\n    message = 'Nenhum contato encontrado para o filtro de grupo informado.';\n  }\n\n  return [{\n    json: {\n      _campaignDone: true,\n      message,\n      alvo_nome: targetNameRaw || null,\n      alvo_grupo: targetGroupRaw || null,\n    },\n  }];\n}\n\nreturn out;\n"},"id":"69e43cbe-5363-4136-b321-a538c19fa678","name":"Filtrar Contatos Validos","type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-32]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-no-contacts","leftValue":"={{ $json._campaignDone }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"55960b7b-02b1-4f8a-b39b-4fb5a785a82b","name":"Ha Contatos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[368,-32]},{"parameters":{"jsCode":"return [{ json: { status: 'sem_contatos', message: $json.message || 'Sem contatos para enviar.' } }];"},"id":"cf9afa61-19e2-4843-9c69-cff66e2780a1","name":"Sem Contatos","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-time-window","leftValue":"={{ (() => { const tz = String($env.CAMPAIGN_TIMEZONE || 'America/Sao_Paulo'); const h = Number(new Intl.DateTimeFormat('en-US', { hour: '2-digit', hour12: false, timeZone: tz }).format(new Date())); const start = Number($env.CAMPAIGN_START_HOUR || 9); const end = Number($env.CAMPAIGN_END_HOUR || 17); return h >= start && h < end; })() }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"caf426f1-4a4b-484e-b807-7d287a17487d","name":"Dentro da Janela 09h-17h?","type":"n8n-nodes-base.if","typeVersion":2,"position":[608,-32]},{"parameters":{"jsCode":"return [{\n  json: {\n    status: 'fora_janela_envio',\n    message: 'Execucao encerrada: fora da janela permitida (09:00-17:00).',\n    now: new Date().toISOString()\n  }\n}];"},"id":"909da0ac-80f0-4014-be9d-1ac32928ea1d","name":"Fora da Janela de Envio","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-112]},{"parameters":{"options":{}},"id":"6b531aa7-6446-43a0-922b-71fc5d30e2cf","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,96]},{"parameters":{"jsCode":"const nomeCompletoRaw = String($json.nome || '').trim();\nconst primeiroNomeRaw = String($json.primeiro_nome || '').trim();\nconst primeiroNome = primeiroNomeRaw || (nomeCompletoRaw ? nomeCompletoRaw.split(' ')[0] : '');\nconst nome = primeiroNome && primeiroNome.toLowerCase() !== 'cliente' ? primeiroNome : '';\nconst categoria = String($json.categoria || 'Cliente').trim() || 'Cliente';\nconst foco = String($env.CAMPAIGN_TEMPLATE_FOCUS || 'imoveis de luxo').trim();\nconst campaignId = String($env.CAMPAIGN_ID || `campanha_${new Date().toISOString().slice(0, 10)}`);\nconst templateMode = String($env.CAMPAIGN_TEMPLATE_MODE || 'hogar').toLowerCase();\nconst useAtMention = String($env.CAMPAIGN_USE_AT_MENTION || 'false').toLowerCase() === 'true';\nconst greetingStrategyRaw = String($env.CAMPAIGN_GREETING_STRATEGY || 'rotativo').trim().toLowerCase();\nconst greetingStrategy = ['rotativo', 'formal', 'consultivo', 'direto'].includes(greetingStrategyRaw) ? greetingStrategyRaw : 'rotativo';\nconst delayProfileRaw = String($env.CAMPAIGN_DELAY_PROFILE || '').trim();\nconst delaySwitchEvery = Math.max(1, Number($env.CAMPAIGN_DELAY_SWITCH_EVERY || 8));\n\nconst normalizeTag = (value) => {\n  const clean = String(value || '')\n    .trim()\n    .replace(/^@+/, '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^\\p{L}\\p{N}_.]/gu, '')\n    .toLowerCase();\n  return clean ? `@${clean}` : '';\n};\n\nconst normalizeText = (value) => String(value || '')\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase();\n\nconst originalPhone = String($json.phone || '').replace(/\\D/g, '');\nconst forcePhoneRaw = String($env.CAMPAIGN_FORCE_PHONE || '').trim();\nconst forceDigits = forcePhoneRaw.replace(/\\D/g, '');\nconst forcedPhone = forceDigits ? (forceDigits.startsWith('55') ? forceDigits : `55${forceDigits}`) : '';\nconst usarNumeroTeste = forcedPhone.length >= 12 && forcedPhone.length <= 13;\nconst phoneDestino = usarNumeroTeste ? forcedPhone : originalPhone;\nconst alertaNumeroTeste = forcePhoneRaw && !usarNumeroTeste\n  ? 'CAMPAIGN_FORCE_PHONE invalido. Seguindo telefone original.'\n  : '';\n\nconst telefonePlanilha = String($json.telefone_csv || originalPhone || '').replace(/\\D/g, '');\nconst grupoOrigemBruto = String($json.grupo_principal || $json.grupos_origem || '').trim();\nconst grupoOrigem = grupoOrigemBruto\n  .replace(/excel results/ig, '')\n  .replace(/\\s*\\|\\s*/g, ' | ')\n  .replace(/\\s+/g, ' ')\n  .trim();\nconst grupoPrincipal = grupoOrigem ? grupoOrigem.split('|')[0].trim() : '';\n\nconst mentionFromHandle = normalizeTag(\n  $json.contato_tag\n    || $json.arroba\n    || $json.handle\n    || $json.username\n    || $json.user\n    || $json.instagram\n    || ''\n);\nconst mentionFromName = normalizeTag($json.at_nome || nome);\nconst mentionFromPhone = normalizeTag($json.at_numero || originalPhone || phoneDestino);\nconst mentionTag = mentionFromHandle || mentionFromName || mentionFromPhone || '@cliente';\nconst mentionText = useAtMention ? mentionTag : '';\nconst fallbackSaudacao = mentionText || (phoneDestino ? `+${phoneDestino}` : 'cliente');\nconst saudacaoAlvo = nome ? (mentionText ? `${nome} (${mentionText})` : nome) : fallbackSaudacao;\nconst tzSaudacao = String($env.CAMPAIGN_TIMEZONE || 'America/Sao_Paulo');\nconst horaSaudacao = Number(new Intl.DateTimeFormat('en-US', { hour: '2-digit', hour12: false, timeZone: tzSaudacao }).format(new Date()));\nconst saudacaoPeriodo = horaSaudacao < 12 ? 'Bom dia' : (horaSaudacao < 18 ? 'Boa tarde' : 'Boa noite');\n\nconst parseDelayProfiles = (raw, fallbackMin, fallbackMax) => {\n  const defaults = [{ min: fallbackMin, max: fallbackMax }];\n  if (!raw) return defaults;\n\n  const parsed = String(raw)\n    .split(/[|;]/)\n    .map((chunk) => chunk.trim())\n    .filter(Boolean)\n    .map((chunk) => {\n      const match = chunk.match(/^(\\d+)(?:\\s*[-:]\\s*(\\d+))?$/);\n      if (!match) return null;\n      const a = Number(match[1]);\n      const b = Number(match[2] || match[1]);\n      if (!Number.isFinite(a) || !Number.isFinite(b)) return null;\n      const min = Math.max(1, Math.min(a, b));\n      const max = Math.max(min, Math.max(a, b));\n      return { min, max };\n    })\n    .filter(Boolean);\n\n  return parsed.length ? parsed : defaults;\n};\n\nconst fallbackDelayMin = Math.max(1, Number($env.CAMPAIGN_DELAY_MIN_SECONDS || 25));\nconst fallbackDelayMax = Math.max(fallbackDelayMin, Number($env.CAMPAIGN_DELAY_MAX_SECONDS || 45));\nconst delayProfiles = parseDelayProfiles(delayProfileRaw, fallbackDelayMin, fallbackDelayMax);\nconst dispatchSequence = Math.max(1, Number($json.dispatch_sequence || 1));\nconst delayProfileIndex = Math.floor((dispatchSequence - 1) / delaySwitchEvery) % delayProfiles.length;\nconst selectedDelayProfile = delayProfiles[delayProfileIndex] || { min: fallbackDelayMin, max: fallbackDelayMax };\nconst delaySeconds = Math.floor(selectedDelayProfile.min + Math.random() * (selectedDelayProfile.max - selectedDelayProfile.min + 1));\n\nconst origemResponsavel = String($json.origem_responsavel || 'Equipe Hogar').trim();\nconst perfilGrupo = String($json.perfil_grupo || 'geral').trim().toLowerCase();\nconst ticketSegmento = String($json.ticket_segmento || 'premium').trim().toLowerCase();\nconst ticketRaw = String($json.ticket_interesse_raw || '').trim();\nconst oportunidade = String($json.oportunidade_recomendada || foco).trim();\nconst contextoOrigem = String($json.mensagem_contexto_origem || '').trim() ||\n  (grupoPrincipal\n    ? `Peguei seu contato no grupo \"${grupoPrincipal}\" com ${origemResponsavel}.`\n    : `Peguei seu contato por indicacao com ${origemResponsavel}.`);\n\nconst hashSeed = `${originalPhone}|${campaignId}|${grupoPrincipal}|${categoria}|${nome}|${mentionTag}|${perfilGrupo}|${ticketSegmento}`;\nlet hash = 0;\nfor (const ch of hashSeed) {\n  hash = ((hash << 5) - hash + ch.charCodeAt(0)) >>> 0;\n}\n\nconst pick = (arr, salt = 0) => {\n  if (!arr.length) return '';\n  const index = (hash + salt + Math.floor(Math.random() * 997)) % arr.length;\n  return arr[index];\n};\n\nconst maybe = (value, chance = 0.5) => (Math.random() < chance ? value : '');\n\nconst abordagemPorPerfil = {\n  parceiro: 'Temos uma oportunidade alinhada para parceria comercial da sua rede.',\n  investidor: 'Temos uma oportunidade com foco em valorizacao e estrutura de investimento.',\n  morador: 'Temos uma oportunidade residencial que pode fazer sentido para voce.',\n  luxo: 'Temos uma oportunidade premium da carteira Hogar Imoveis de Luxo.',\n  geral: 'Temos uma oportunidade imobiliaria selecionada para seu perfil.',\n};\n\nconst ctaPorPerfil = {\n  parceiro: [\n    'Posso te enviar os detalhes de parceria e comissionamento?',\n    'Quer que eu te mande agora as condicoes comerciais dessa oportunidade?',\n  ],\n  investidor: [\n    'Posso te enviar o resumo de ticket, potencial e condicoes dessa oportunidade?',\n    'Quer que eu te mande uma analise objetiva dessa opcao?',\n  ],\n  morador: [\n    'Posso te encaminhar os detalhes e disponibilidade por aqui?',\n    'Quer que eu te envie um resumo com condicoes e proximos passos?',\n  ],\n  luxo: [\n    'Posso te enviar agora os detalhes completos dessa oportunidade premium?',\n    'Quer que eu te encaminhe a apresentacao dessa opcao de alto padrao?',\n  ],\n  geral: [\n    'Posso te enviar os detalhes dessa oportunidade agora?',\n    'Quer que eu te encaminhe um resumo rapido por aqui?',\n  ],\n};\n\nlet mensagemFinal = '';\nlet templateName = `T${(hash % 7) + 1}`;\n\nif (templateMode === 'debug') {\n  templateName = 'DEBUG';\n  mensagemFinal = [\n    'TESTE TECNICO - AGENTE VALIDACAO',\n    `contato_id: ${$json.contato_id || '-'}`,\n    `nome: ${nome || '-'}`,\n    `mention_tag: ${mentionText || '(desabilitado)'}`,\n    `grupo_principal: ${grupoPrincipal || '-'}`,\n    `origem_responsavel: ${origemResponsavel}`,\n    `perfil_grupo: ${perfilGrupo}`,\n    `ticket_segmento: ${ticketSegmento}`,\n    `ticket_raw: ${ticketRaw || '-'}`,\n    `oportunidade: ${oportunidade}`,\n    `contexto_origem: ${contextoOrigem}`,\n    `telefone_planilha: +${telefonePlanilha || '-'}`,\n    `telefone_destino: +${phoneDestino || '-'}`,\n    `campaign_id: ${campaignId}`,\n  ].join('\\n');\n}\n\nif (templateMode === 'hogar') {\n  const buildOpenings = (targetLabel) => {\n    const poolFormal = [\n      `${saudacaoPeriodo}, ${targetLabel}. Aqui e da equipe Hogar Imoveis de Luxo.`,\n      `${saudacaoPeriodo}, ${targetLabel}. Tudo bem? Falando da Hogar Imoveis de Luxo.`,\n      `${saudacaoPeriodo}, ${targetLabel}. Time comercial da Hogar Imoveis de Luxo por aqui.`,\n    ];\n\n    const poolConsultivo = [\n      `${saudacaoPeriodo}, ${targetLabel}. Posso te mandar uma oportunidade alinhada ao seu perfil?`,\n      `${saudacaoPeriodo}, ${targetLabel}. Tudo certo por ai? Separei um contato consultivo rapido.`,\n      `${saudacaoPeriodo}, ${targetLabel}. Quero te apresentar uma oportunidade com abordagem consultiva.`,\n    ];\n\n    const poolDireto = [\n      `${saudacaoPeriodo}, ${targetLabel}. Tenho uma oportunidade objetiva para te apresentar.`,\n      `${saudacaoPeriodo}, ${targetLabel}. Vim direto ao ponto com uma oportunidade selecionada.`,\n      `${saudacaoPeriodo}, ${targetLabel}. Separei uma opcao que pode fazer sentido para voce.`,\n    ];\n\n    if (greetingStrategy === 'formal') return poolFormal;\n    if (greetingStrategy === 'consultivo') return poolConsultivo;\n    if (greetingStrategy === 'direto') return poolDireto;\n    return [...poolFormal, ...poolConsultivo, ...poolDireto];\n  };\n\n  const aberturasComNome = buildOpenings(saudacaoAlvo);\n  const aberturasSemNome = buildOpenings(fallbackSaudacao);\n\n  const contextos = [\n    `${contextoOrigem} Vim te enviar uma oportunidade de ${oportunidade}.`,\n    `${contextoOrigem} Separei para voce uma oportunidade de ${oportunidade}.`,\n    `${contextoOrigem} Tenho uma oportunidade de ${oportunidade} que pode fazer sentido para voce.`,\n  ];\n\n  if (grupoPrincipal) {\n    contextos.push(`No grupo \"${grupoPrincipal}\", identifiquei um perfil alinhado para ${oportunidade}.`);\n  }\n\n  if (ticketRaw) {\n    contextos.push(`Pelo seu perfil de ticket (${ticketRaw}), separei uma opcao bem direcionada.`);\n  }\n\n  const provas = [\n    abordagemPorPerfil[perfilGrupo] || abordagemPorPerfil.geral,\n    'Atendimento consultivo, sem pressao comercial.',\n    'Se nao fizer sentido agora, sem problema algum.',\n  ];\n\n  const ctas = ctaPorPerfil[perfilGrupo] || ctaPorPerfil.geral;\n\n  const assinaturas = [\n    'Equipe Hogar Imoveis de Luxo',\n    'Consultoria Hogar Imoveis de Luxo',\n    'Time Comercial Hogar Imoveis de Luxo',\n  ];\n\n  const abertura = nome ? pick(aberturasComNome, 11) : pick(aberturasSemNome, 13);\n  const contexto = pick(contextos, 17);\n  const prova = pick(provas, 19);\n  const cta = pick(ctas, 23);\n  const assinatura = pick(assinaturas, 31);\n  const fechamento = maybe('Aguardo seu retorno.', 0.72);\n\n  mensagemFinal = [abertura, contexto, prova, cta, fechamento, `(${assinatura})`]\n    .filter(Boolean)\n    .join(' ');\n\n  templateName = `HOGAR_${perfilGrupo.toUpperCase()}_${ticketSegmento.toUpperCase()}_V${((hash + Math.floor(Math.random() * 1000)) % 25) + 1}`;\n}\n\nif (templateMode !== 'hogar' && templateMode !== 'debug') {\n  const basicos = [\n    `${saudacaoAlvo}, ${contextoOrigem} Vim te apresentar uma oportunidade de ${oportunidade}. Aguardo seu retorno!`,\n    `${saudacaoAlvo}, tudo certo? Somos da Hogar Imoveis de Luxo. ${contextoOrigem} Posso te enviar uma oportunidade de ${oportunidade}?`,\n    `${saudacaoAlvo}, aqui e da Hogar Imoveis de Luxo. ${contextoOrigem} Tenho uma oportunidade de ${oportunidade} para te mostrar.`,\n  ];\n\n  mensagemFinal = pick(basicos, 41);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    campaignId,\n    template_id: templateName,\n    mensagem_final: mensagemFinal,\n    categoria,\n    mention_tag: mentionTag,\n    origem_responsavel: origemResponsavel,\n    perfil_grupo: perfilGrupo,\n    ticket_segmento: ticketSegmento,\n    oportunidade_grupo: oportunidade,\n    at_nome: mentionFromName,\n    at_numero: mentionFromPhone,\n    phone_original: originalPhone,\n    phone_destino: phoneDestino,\n    phone: phoneDestino,\n    modo_teste_numero: usarNumeroTeste,\n    alerta_numero_teste: alertaNumeroTeste,\n    template_mode: templateMode,\n    delay_seconds: delaySeconds,\n    delay_profile_index: delayProfileIndex,\n    delay_profile_range: `${selectedDelayProfile.min}-${selectedDelayProfile.max}`,\n    dispatch_sequence: dispatchSequence,\n  },\n}];\n"},"id":"3f18ea68-511c-4fc1-b902-dcbe7a0ff9b4","name":"Montar Template Teste","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-dry-run","leftValue":"={{ String($env.CAMPAIGN_DRY_RUN || 'true').toLowerCase() === 'true' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"bf1b40d0-9d57-47c5-897b-4e9ba5d5c997","name":"Modo Dry Run?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1088,96]},{"parameters":{"jsCode":"return [{\n  json: {\n    ...$json,\n    envio_ok: true,\n    envio_status: 'dry_run',\n    envio_em: new Date().toISOString(),\n    provider_message_id: '',\n    provider_status: 'DRY_RUN',\n    erro_envio: ''\n  }\n}];"},"id":"a6ec790e-4494-41a9-8330-58888bf13d10","name":"Registrar Preview (Dry Run)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-16]},{"parameters":{"method":"POST","url":"={{ $env.EVOLUTION_BASE_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.EVOLUTION_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.phone }}"},{"name":"text","value":"={{ $json.mensagem_final }}"}]},"options":{"timeout":30000}},"id":"b83d36a0-6886-4164-89b7-5dd812341ebe","name":"Enviar WhatsApp (Evolution)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,192],"continueOnFail":true},{"parameters":{"jsCode":"const leadData = $('Montar Template Teste').item.json;\nconst responseData = $input.item.json || {};\nconst inputError = $input.item.error || null;\n\nconst providerMessageId = responseData?.key?.id || '';\nconst providerStatus = responseData.status || (providerMessageId ? 'PENDING' : 'ERROR');\n\nconst providerErrorMessage =\n  (inputError && inputError.message)\n  || responseData.message\n  || responseData.error\n  || '';\n\nconst hasProviderError = !!providerErrorMessage && !providerMessageId;\nconst envioOk = !!providerMessageId && !hasProviderError;\n\nreturn [{\n  json: {\n    ...leadData,\n    envio_ok: envioOk,\n    envio_status: envioOk ? 'enviado' : 'erro',\n    envio_em: new Date().toISOString(),\n    provider_message_id: providerMessageId,\n    provider_status: providerStatus,\n    erro_envio: envioOk ? '' : (providerErrorMessage || 'Erro desconhecido no envio Evolution')\n  }\n}];"},"id":"caa32f41-beb2-4b64-8cfc-9a5c3494a44a","name":"Classificar Resultado","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,192]},{"parameters":{"amount":"={{ Number($json.delay_seconds || Math.floor(Number($env.CAMPAIGN_DELAY_MIN_SECONDS || 25) + Math.random() * (Number($env.CAMPAIGN_DELAY_MAX_SECONDS || 45) - Number($env.CAMPAIGN_DELAY_MIN_SECONDS || 25) + 1))) }}"},"id":"5c653b8f-a314-42fc-8db2-3f52d347cbea","name":"Espera Anti-RateLimit","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1808,96],"webhookId":"4a3498fd-ddb4-4bc3-bb71-c31fd2465ad1"}],"connections":{"Teste Manual":{"main":[[{"node":"Ler CSV da Pasta Saida","type":"main","index":0}]]},"Ler CSV da Pasta Saida":{"main":[[{"node":"Converter CSV em Itens","type":"main","index":0}]]},"Converter CSV em Itens":{"main":[[{"node":"Filtrar Contatos Validos","type":"main","index":0}]]},"Filtrar Contatos Validos":{"main":[[{"node":"Ha Contatos?","type":"main","index":0}]]},"Ha Contatos?":{"main":[[{"node":"Sem Contatos","type":"main","index":0}],[{"node":"Dentro da Janela 09h-17h?","type":"main","index":0}]]},"Dentro da Janela 09h-17h?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Fora da Janela de Envio","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Montar Template Teste","type":"main","index":0}]]},"Montar Template Teste":{"main":[[{"node":"Modo Dry Run?","type":"main","index":0}]]},"Modo Dry Run?":{"main":[[{"node":"Registrar Preview (Dry Run)","type":"main","index":0}],[{"node":"Enviar WhatsApp (Evolution)","type":"main","index":0}]]},"Registrar Preview (Dry Run)":{"main":[[{"node":"Espera Anti-RateLimit","type":"main","index":0}]]},"Enviar WhatsApp (Evolution)":{"main":[[{"node":"Classificar Resultado","type":"main","index":0}]]},"Classificar Resultado":{"main":[[{"node":"Espera Anti-RateLimit","type":"main","index":0}]]},"Espera Anti-RateLimit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"88a2d39c-d277-4ec8-929d-bfde7e22d5ca","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-09T11:41:57.677Z","createdAt":"2026-03-09T11:41:57.677Z","role":"workflow:owner","workflowId":"OUAfQLqhMta3uqPE","projectId":"VKWf49Vu7v2s4bgc","project":{"updatedAt":"2026-03-09T11:38:41.534Z","createdAt":"2026-03-06T22:27:00.285Z","id":"VKWf49Vu7v2s4bgc","name":"Guilherme Rubatto Camargo <rubattodev@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"85e72e14-54ec-4305-862f-02ca13a6dc83"}}],"versionMetadata":{"name":null,"description":null}}