workflow_planilha_whatsapp_teste.json
{"updatedAt":"2026-03-09T11:41:57.669Z","createdAt":"2026-03-09T11:41:57.669Z","id":"OUAfQLqhMta3uqPE","name":"Disparo WhatsApp - Planilha Local (Templates Teste)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"eb4d11c0-fe17-4440-ac44-dcf13370258e","name":"Teste Manual","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-592,-32]},{"parameters":{"filePath":"={{ $env.CONTACTS_CSV_PATH || \u0027/data/saida/planilha_mestre_sem_duplicados.csv\u0027 }}"},"id":"d99abb5a-ac09-4005-bd9a-a40ba5ae9510","name":"Ler CSV da Pasta Saida","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[-352,-32]},{"parameters":{"fileFormat":"csv","options":{"headerRow":true}},"id":"d20a8038-da40-4f0c-bae0-eec5c7f09862","name":"Converter CSV em Itens","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[-112,-32]},{"parameters":{"jsCode":"const maxContacts = Number($env.CAMPAIGN_MAX_CONTACTS || 200);\nconst rampEnabled = String($env.CAMPAIGN_RAMP_ENABLED || \u0027true\u0027).toLowerCase() === \u0027true\u0027;\nconst rampProfileRaw = String($env.CAMPAIGN_RAMP_PROFILE || \u002740|80|150|250|400|600\u0027).trim();\nconst rampProfile = rampProfileRaw\n  .split(/[|;,]/)\n  .map((value) =\u003e Number(String(value).trim()))\n  .filter((value) =\u003e Number.isFinite(value) \u0026\u0026 value \u003e 0);\n\nif (!rampProfile.length) {\n  rampProfile.push(maxContacts);\n}\n\nconst rampDayRaw = Number($env.CAMPAIGN_RAMP_DAY || 1);\nconst rampDay = Number.isFinite(rampDayRaw) \u0026\u0026 rampDayRaw \u003e 0 ? Math.floor(rampDayRaw) : 1;\nconst rampLimit = rampEnabled\n  ? rampProfile[Math.min(rampDay - 1, rampProfile.length - 1)]\n  : maxContacts;\nconst effectiveMaxContacts = Math.max(1, Math.min(maxContacts, rampLimit));\nconst groupFilterRaw = String($env.CAMPAIGN_GROUP_FILTER || \u0027\u0027).trim();\nconst ownerFilterRaw = String($env.CAMPAIGN_OWNER_FILTER || \u0027\u0027).trim();\nconst targetNameRaw = String($env.CAMPAIGN_TARGET_NAME || \u0027\u0027).trim();\nconst targetGroupRaw = String($env.CAMPAIGN_TARGET_GROUP || \u0027\u0027).trim();\nconst validationMode = String($env.CAMPAIGN_VALIDATION_MODE || \u0027name_group\u0027).trim().toLowerCase();\nconst audienceModeRaw = String($env.CAMPAIGN_AUDIENCE || \u0027clientes\u0027).trim().toLowerCase();\nconst audienceMode = [\u0027clientes\u0027, \u0027parceiros\u0027, \u0027todos\u0027].includes(audienceModeRaw) ? audienceModeRaw : \u0027clientes\u0027;\nconst skipAdmins = String($env.CAMPAIGN_SKIP_ADMINS || \u0027true\u0027).toLowerCase() === \u0027true\u0027;\nconst allowNonBr = String($env.CAMPAIGN_ALLOW_NON_BR || \u0027false\u0027).toLowerCase() === \u0027true\u0027;\nconst ticketDefault = String($env.CAMPAIGN_TICKET_DEFAULT || \u0027premium\u0027).trim().toLowerCase();\nconst ownerHintsRhuanRaw = String($env.CAMPAIGN_OWNER_HINTS_RHUAN || \u0027\u0027).trim();\nconst ownerHintsHugoRaw = String($env.CAMPAIGN_OWNER_HINTS_HUGO || \u0027\u0027).trim();\n\nconst campaignId = String($env.CAMPAIGN_ID || `campanha_${new Date().toISOString().slice(0, 10)}`).trim();\nconst campaignStatusColumnRaw = String($env.CAMPAIGN_STATUS_COLUMN || \u0027status_campanha\u0027).trim();\nconst campaignStatusIdColumnRaw = String($env.CAMPAIGN_STATUS_ID_COLUMN || \u0027campanha_status_id\u0027).trim();\nconst campaignStatusScopeRaw = String($env.CAMPAIGN_STATUS_SCOPE || \u0027campaign\u0027).trim().toLowerCase();\nconst campaignStatusScope = [\u0027campaign\u0027, \u0027all\u0027].includes(campaignStatusScopeRaw) ? campaignStatusScopeRaw : \u0027campaign\u0027;\nconst campaignStatusFilterRaw = String($env.CAMPAIGN_STATUS_FILTER || \u0027nao_enviado\u0027).trim();\n\nconst seen = new Set();\nconst namedContacts = [];\nconst unnamedContacts = [];\n\nconst normalizeText = (value) =\u003e String(value || \u0027\u0027)\n  .normalize(\u0027NFD\u0027)\n  .replace(/[\\u0300-\\u036f]/g, \u0027\u0027)\n  .toLowerCase();\n\nconst parseList = (value) =\u003e String(value || \u0027\u0027)\n  .split(/[;,|]/)\n  .map((item) =\u003e normalizeText(item).trim())\n  .filter(Boolean);\n\nconst normalizeCampaignStatus = (value) =\u003e {\n  const status = normalizeText(value).replace(/[\\s-]+/g, \u0027_\u0027).trim();\n  if (!status) return \u0027nao_enviado\u0027;\n\n  if ([\u0027nao_enviado\u0027, \u0027naoenviado\u0027, \u0027novo\u0027, \u0027pendente\u0027].includes(status)) return \u0027nao_enviado\u0027;\n  if ([\u0027enviando\u0027, \u0027programado\u0027, \u0027agendado\u0027, \u0027fila\u0027].includes(status)) return \u0027enviando\u0027;\n  if ([\u0027enviado\u0027, \u0027concluido\u0027, \u0027finalizado\u0027, \u0027done\u0027].includes(status)) return \u0027enviado\u0027;\n\n  return status;\n};\n\nconst formatCampaignStatus = (status) =\u003e {\n  if (status === \u0027enviado\u0027) return \u0027Enviado\u0027;\n  if (status === \u0027enviando\u0027) return \u0027Enviando\u0027;\n  return \u0027Nao Enviado\u0027;\n};\n\nconst campaignStatusFilters = parseList(campaignStatusFilterRaw)\n  .map((status) =\u003e normalizeCampaignStatus(status))\n  .filter(Boolean);\n\nif (!campaignStatusFilters.length) {\n  campaignStatusFilters.push(\u0027nao_enviado\u0027);\n}\n\nconst readCampaignStatusFromRow = (row) =\u003e {\n  const candidates = [\n    row[campaignStatusColumnRaw],\n    row.status_campanha,\n    row.status_envio_campanha,\n    row.status_programacao,\n    row.status_envio,\n  ];\n\n  for (const candidate of candidates) {\n    if (candidate === undefined || candidate === null) continue;\n    if (!String(candidate).trim()) continue;\n    return normalizeCampaignStatus(candidate);\n  }\n\n  return \u0027nao_enviado\u0027;\n};\n\nconst readCampaignIdFromRow = (row) =\u003e {\n  const candidates = [\n    row[campaignStatusIdColumnRaw],\n    row.campanha_status_id,\n    row.campanha_id,\n    row.campanha,\n  ];\n\n  for (const candidate of candidates) {\n    if (candidate === undefined || candidate === null) continue;\n    const value = String(candidate).trim();\n    if (value) return value;\n  }\n\n  return \u0027\u0027;\n};\n\nconst isTruthy = (value) =\u003e {\n  const v = normalizeText(value).trim();\n  return [\u00271\u0027, \u0027true\u0027, \u0027sim\u0027, \u0027yes\u0027, \u0027y\u0027].includes(v);\n};\n\nconst groupFilters = parseList(groupFilterRaw);\nconst ownerFilters = parseList(ownerFilterRaw);\nconst ownerHintsRhuan = parseList(ownerHintsRhuanRaw);\nconst ownerHintsHugo = parseList(ownerHintsHugoRaw);\nconst targetNameNorm = normalizeText(targetNameRaw);\nconst targetGroupNorm = normalizeText(targetGroupRaw);\nconst directTargetEnabled = !!targetNameNorm || !!targetGroupNorm;\n\nconst isValidBrLocal = (digits) =\u003e {\n  if (!(digits.length === 10 || digits.length === 11)) return false;\n\n  const ddd = digits.slice(0, 2);\n  if (!/^[1-9][0-9]$/.test(ddd)) return false;\n\n  if (digits.length === 11) {\n    return digits[2] === \u00279\u0027;\n  }\n\n  return /^[2-5]/.test(digits[2]);\n};\n\nconst normalizePhone = (value) =\u003e {\n  const digits = String(value || \u0027\u0027).replace(/\\D/g, \u0027\u0027);\n  if (!digits) return \u0027\u0027;\n\n  if (allowNonBr) {\n    return (digits.length \u003e= 10 \u0026\u0026 digits.length \u003c= 15) ? digits : \u0027\u0027;\n  }\n\n  if (digits.startsWith(\u002755\u0027)) {\n    const local = digits.slice(2);\n    return isValidBrLocal(local) ? digits : \u0027\u0027;\n  }\n\n  return isValidBrLocal(digits) ? `55${digits}` : \u0027\u0027;\n};\n\n\nconst inputItems = $input.all();\nconst sourceRows = inputItems.map((item) =\u003e ({ ...(item.json || {}) }));\n\nconst contactsCsvPath = String($env.CONTACTS_CSV_PATH || \u0027/data/saida/planilha_mestre_sem_duplicados.csv\u0027).trim();\nconst executionId = (typeof $execution !== \u0027undefined\u0027 \u0026\u0026 $execution \u0026\u0026 $execution.id)\n  ? String($execution.id)\n  : `${Date.now()}`;\nconst stateKey = `campaign_csv_state_${executionId}`;\n\nconst staticData = $getWorkflowStaticData(\u0027global\u0027);\n\nconst requiredColumns = [\n  campaignStatusColumnRaw,\n  campaignStatusIdColumnRaw,\n  \u0027status_campanha\u0027,\n  \u0027campanha_status_id\u0027,\n  \u0027status_programacao\u0027,\n];\n\nconst headerKeys = [];\nfor (const row of sourceRows) {\n  for (const key of Object.keys(row || {})) {\n    if (!headerKeys.includes(key)) {\n      headerKeys.push(key);\n    }\n  }\n}\n\nfor (const col of requiredColumns) {\n  if (col \u0026\u0026 !headerKeys.includes(col)) {\n    headerKeys.push(col);\n  }\n}\n\nconst ensureDefaultStatus = (row) =\u003e {\n  const currentStatus = String(row[campaignStatusColumnRaw] || row.status_campanha || \u0027\u0027).trim();\n  const safeStatus = currentStatus || \u0027Nao Enviado\u0027;\n\n  row[campaignStatusColumnRaw] = safeStatus;\n  row.status_campanha = safeStatus;\n  row.status_programacao = String(row.status_programacao || safeStatus || \u0027Nao Enviado\u0027).trim() || \u0027Nao Enviado\u0027;\n  row[campaignStatusIdColumnRaw] = String(row[campaignStatusIdColumnRaw] || row.campanha_status_id || \u0027\u0027).trim();\n  row.campanha_status_id = String(row.campanha_status_id || row[campaignStatusIdColumnRaw] || \u0027\u0027).trim();\n};\n\nsourceRows.forEach(ensureDefaultStatus);\n\nconst rowIndexByPhone = {};\nfor (let i = 0; i \u003c sourceRows.length; i += 1) {\n  const row = sourceRows[i] || {};\n  const phoneCandidate = normalizePhone(row.whatsapp || row.telefone || row.celular || row.phone || row.numero);\n  if (!phoneCandidate) continue;\n  if (rowIndexByPhone[phoneCandidate] === undefined) {\n    rowIndexByPhone[phoneCandidate] = i;\n  }\n}\n\nstaticData[stateKey] = {\n  path: contactsCsvPath,\n  headerKeys,\n  rows: sourceRows,\n  rowIndexByPhone,\n  campaignId,\n  updatedAt: new Date().toISOString(),\n};\n\nconst cleanName = (value) =\u003e String(value || \u0027\u0027)\n  .replace(/\\s+/g, \u0027 \u0027)\n  .replace(/[^\\p{L}\\p{N}\\s\u0027.-]/gu, \u0027\u0027)\n  .trim();\n\nconst cleanTag = (value) =\u003e String(value || \u0027\u0027)\n  .trim()\n  .replace(/^@+/, \u0027\u0027)\n  .normalize(\u0027NFD\u0027)\n  .replace(/[\\u0300-\\u036f]/g, \u0027\u0027)\n  .replace(/[^\\p{L}\\p{N}_.]/gu, \u0027\u0027)\n  .toLowerCase();\n\nconst chooseName = (row) =\u003e {\n  const candidates = [\n    row.nome,\n    row.name,\n    row.first_name,\n    row.nome_contato,\n    row.contato,\n    row.contact_name,\n  ];\n\n  for (const candidate of candidates) {\n    const clean = cleanName(candidate);\n    if (!clean) continue;\n    const lower = clean.toLowerCase();\n    if ([\u0027cliente\u0027, \u0027contato\u0027, \u0027na\u0027, \u0027n/a\u0027, \u0027unknown\u0027].includes(lower)) continue;\n    return clean;\n  }\n\n  return \u0027\u0027;\n};\n\nconst chooseMentionTag = (row, nome, phone) =\u003e {\n  const candidates = [\n    row.arroba,\n    row.handle,\n    row.username,\n    row.user,\n    row.instagram,\n    row.contato_tag,\n    row.tag,\n    row.mention,\n  ];\n\n  for (const candidate of candidates) {\n    const clean = cleanTag(candidate);\n    if (clean) return `@${clean}`;\n  }\n\n  const firstNameTag = cleanTag(nome ? nome.split(\u0027 \u0027)[0] : \u0027\u0027);\n  if (firstNameTag) return `@${firstNameTag}`;\n\n  return phone ? `@${phone}` : \u0027@cliente\u0027;\n};\n\nconst inferOwner = (row, groupPrincipal, groupsOrigem, origemArquivo) =\u003e {\n  const explicitOwner = String(row.origem_responsavel || row.owner || row.responsavel_origem || \u0027\u0027).trim();\n  if (explicitOwner) return explicitOwner;\n\n  const source = normalizeText([\n    row.nome || \u0027\u0027,\n    groupPrincipal || \u0027\u0027,\n    groupsOrigem || \u0027\u0027,\n    origemArquivo || \u0027\u0027,\n  ].join(\u0027 | \u0027));\n\n  if (source.includes(\u0027rhuan\u0027)) return \u0027Rhuan\u0027;\n  if (source.includes(\u0027hugo\u0027)) return \u0027Hugo\u0027;\n\n  if (ownerHintsRhuan.some((term) =\u003e source.includes(term))) return \u0027Rhuan\u0027;\n  if (ownerHintsHugo.some((term) =\u003e source.includes(term))) return \u0027Hugo\u0027;\n\n  return \u0027Equipe Hogar\u0027;\n};\n\nconst extractTicketValue = (rawText) =\u003e {\n  const text = String(rawText || \u0027\u0027).trim();\n  if (!text) return 0;\n\n  const matches = text.match(/\\d[\\d.,]*/g) || [];\n  let maxValue = 0;\n\n  for (const token of matches) {\n    const cleaned = token.replace(/\\./g, \u0027\u0027).replace(/,/g, \u0027.\u0027);\n    const value = Number(cleaned);\n    if (Number.isFinite(value) \u0026\u0026 value \u003e maxValue) {\n      maxValue = value;\n    }\n  }\n\n  return maxValue;\n};\n\nconst inferTicketSegment = (ticketValue) =\u003e {\n  if (ticketValue \u003e= 2500000) return \u0027premium_plus\u0027;\n  if (ticketValue \u003e= 1500000) return \u0027premium\u0027;\n  if (ticketValue \u003e= 700000) return \u0027medio\u0027;\n  if (ticketValue \u003e 0) return \u0027entrada\u0027;\n  return ticketDefault;\n};\n\nconst inferGroupProfile = (groupPrincipal, categoria) =\u003e {\n  const g = normalizeText(groupPrincipal);\n  const c = normalizeText(categoria);\n\n  if (/corretor|imobiliaria|broker|parceir/.test(g) || /corretor|parceiro/.test(c)) return \u0027parceiro\u0027;\n  if (/invest|capital|renda/.test(g) || /invest/.test(c)) return \u0027investidor\u0027;\n  if (/condominio|morador|residencial|vizinhanca/.test(g)) return \u0027morador\u0027;\n  if (/luxo|alto padrao|premium/.test(g)) return \u0027luxo\u0027;\n  return \u0027geral\u0027;\n};\n\nconst recommendOpportunity = (profile, ticketSegment, focus) =\u003e {\n  const key = `${profile}:${ticketSegment}`;\n  const map = {\n    \u0027parceiro:premium_plus\u0027: \u0027imoveis de luxo acima de R$ 2,5M com parceria estrategica\u0027,\n    \u0027parceiro:premium\u0027: \u0027imoveis de alto padrao com comissionamento competitivo\u0027,\n    \u0027parceiro:medio\u0027: \u0027imoveis com giro rapido para parceria comercial\u0027,\n\n    \u0027investidor:premium_plus\u0027: \u0027ativos imobiliarios premium para preservacao de patrimonio\u0027,\n    \u0027investidor:premium\u0027: \u0027imoveis de alto padrao com foco em valorizacao e renda\u0027,\n    \u0027investidor:medio\u0027: \u0027oportunidades imobiliarias com bom equilibrio risco-retorno\u0027,\n\n    \u0027morador:premium_plus\u0027: \u0027residencias de luxo exclusivas com alto nivel de acabamento\u0027,\n    \u0027morador:premium\u0027: \u0027imoveis premium em localizacoes nobres\u0027,\n    \u0027morador:medio\u0027: \u0027imoveis bem localizados com condicoes especiais\u0027,\n\n    \u0027luxo:premium_plus\u0027: \u0027oportunidades signature da carteira Hogar Imoveis de Luxo\u0027,\n    \u0027luxo:premium\u0027: \u0027imoveis de luxo com oferta diferenciada da semana\u0027,\n    \u0027luxo:medio\u0027: \u0027imoveis de alto padrao com excelente custo-beneficio\u0027,\n  };\n\n  return map[key] || focus || \u0027imoveis de luxo\u0027;\n};\n\nfor (const item of inputItems) {\n  const row = item.json || {};\n\n  const rowCampaignStatus = readCampaignStatusFromRow(row);\n  const rowCampaignId = readCampaignIdFromRow(row);\n  const campaignScopedStatus = (campaignStatusScope === \u0027campaign\u0027 \u0026\u0026 rowCampaignId \u0026\u0026 rowCampaignId !== campaignId)\n    ? \u0027nao_enviado\u0027\n    : rowCampaignStatus;\n\n  if (!campaignStatusFilters.includes(campaignScopedStatus)) {\n    continue;\n  }\n\n  const phone = normalizePhone(row.whatsapp || row.telefone || row.celular || row.phone || row.numero);\n  if (!phone) continue;\n  if (seen.has(phone)) continue;\n\n  if (skipAdmins \u0026\u0026 isTruthy(row.eh_admin)) {\n    continue;\n  }\n\n  const groupsRaw = String(row.grupos_origem || row.grupo_origem || \u0027\u0027).trim();\n  const groups = groupsRaw\n    .replace(/excel results/ig, \u0027\u0027)\n    .replace(/\\s*\\|\\s*/g, \u0027 | \u0027)\n    .replace(/\\s+/g, \u0027 \u0027)\n    .trim();\n  const groupMain = groups ? groups.split(\u0027|\u0027)[0].trim() : \u0027\u0027;\n\n  if (groupFilters.length) {\n    const gNorm = normalizeText(groups);\n    const isGroupFilterMatch = groupFilters.some((term) =\u003e gNorm.includes(term));\n    if (!isGroupFilterMatch) continue;\n  }\n\n  const origemArquivo = String(row.arquivos_origem || row.origem_arquivo || \u0027\u0027).trim();\n  const owner = inferOwner(row, groupMain, groups, origemArquivo);\n\n  if (ownerFilters.length) {\n    const ownerNorm = normalizeText(owner);\n    const isOwnerMatch = ownerFilters.some((term) =\u003e ownerNorm.includes(term));\n    if (!isOwnerMatch) continue;\n  }\n\n  const nome = chooseName(row);\n  const nameNorm = normalizeText(nome);\n  const groupNorm = normalizeText(groupMain || groups);\n\n  const matchName = !targetNameNorm || (nameNorm \u0026\u0026 nameNorm.includes(targetNameNorm));\n  const matchGroup = !targetGroupNorm || (groupNorm \u0026\u0026 groupNorm.includes(targetGroupNorm));\n\n  if (directTargetEnabled \u0026\u0026 (!matchName || !matchGroup)) {\n    continue;\n  }\n\n  const categoriaRaw = String(row.categoria || row.tipo || \u0027Cliente\u0027).trim() || \u0027Cliente\u0027;\n  const categoriaNorm = normalizeText(categoriaRaw);\n  const groupAudienceNorm = normalizeText(groupMain || groups);\n  const isPartnerAudienceContact = /corretor|parceiro|imobiliaria|broker/.test(categoriaNorm)\n    || /corretor|parceir|imobiliaria|broker/.test(groupAudienceNorm);\n\n  if (audienceMode === \u0027clientes\u0027 \u0026\u0026 isPartnerAudienceContact) {\n    continue;\n  }\n\n  if (audienceMode === \u0027parceiros\u0027 \u0026\u0026 !isPartnerAudienceContact) {\n    continue;\n  }\n\n  seen.add(phone);\n\n  const primeiroNome = nome ? nome.split(\u0027 \u0027)[0] : \u0027\u0027;\n  const categoria = categoriaRaw;\n  const telefoneCsv = String(row.telefone || \u0027\u0027).replace(/\\D/g, \u0027\u0027);\n  const whatsappCsv = String(row.whatsapp || \u0027\u0027).replace(/\\D/g, \u0027\u0027);\n  const mentionTag = chooseMentionTag(row, nome, phone);\n  const atNomeRaw = cleanTag(primeiroNome);\n\n  const ticketRaw = String(\n    row.ticket_interesse\n      || row.ticket\n      || row.investimento\n      || row.orcamento\n      || row.faixa_preco\n      || row.ticket_faixa\n      || row.faixa\n      || row.budget\n      || \u0027\u0027\n  ).trim();\n  const ticketValue = extractTicketValue(ticketRaw);\n  const ticketSegment = inferTicketSegment(ticketValue);\n  const profile = inferGroupProfile(groupMain, categoria);\n  const focus = String($env.CAMPAIGN_TEMPLATE_FOCUS || \u0027imoveis de luxo\u0027).trim();\n  const opportunity = recommendOpportunity(profile, ticketSegment, focus);\n\n  const ownerPhrase = /rhuan|hugo/i.test(owner) ? owner : \u0027nossa equipe\u0027;\n  const origemMensagem = groupMain\n    ? `Peguei seu contato no grupo \"${groupMain}\" com ${ownerPhrase}.`\n    : `Peguei seu contato por indicacao com ${ownerPhrase}.`;\n\n  const score = (matchName ? 0.5 : 0) + (matchGroup ? 0.5 : 0);\n\n  const normalized = {\n    json: {\n      nome,\n      primeiro_nome: primeiroNome,\n      contato_tag: mentionTag,\n      at_nome: atNomeRaw ? `@${atNomeRaw}` : \u0027\u0027,\n      at_numero: phone ? `@${phone}` : \u0027\u0027,\n      phone,\n      categoria,\n      telefone_csv: telefoneCsv,\n      whatsapp_csv: whatsappCsv,\n      origem_arquivo: origemArquivo,\n      grupos_origem: groups,\n      grupo_principal: groupMain,\n      origem_responsavel: owner,\n      ticket_interesse_raw: ticketRaw,\n      ticket_interesse_valor: ticketValue,\n      ticket_segmento: ticketSegment,\n      perfil_grupo: profile,\n      oportunidade_recomendada: opportunity,\n      mensagem_contexto_origem: origemMensagem,\n      eh_contato_salvo: String(row.eh_contato_salvo ?? \u0027\u0027),\n      eh_negocio: String(row.eh_negocio ?? \u0027\u0027),\n      eh_admin: String(row.eh_admin ?? \u0027\u0027),\n      contato_id: `${phone}-${origemArquivo || \u0027local\u0027}`,\n      csv_state_key: stateKey,\n      csv_execution_id: executionId,\n      row_index_csv: Number.isInteger(rowIndexByPhone[phone]) ? rowIndexByPhone[phone] : -1,\n\n      campanha_id: campaignId,\n      campanha_status_id: rowCampaignId || \u0027\u0027,\n      status_campanha: formatCampaignStatus(campaignScopedStatus),\n      status_campanha_normalizado: campaignScopedStatus,\n      status_campanha_filtro: campaignStatusFilters.join(\u0027|\u0027),\n      status_campanha_coluna: campaignStatusColumnRaw,\n      status_campanha_scope: campaignStatusScope,\n\n      lead_nome_planilha: nome,\n      lead_contato_planilha: phone,\n      lead_grupo_planilha: groupMain,\n      lead_responsavel_planilha: owner,\n      agente_validacao: {\n        modo: validationMode,\n        alvo_nome: targetNameRaw || null,\n        alvo_grupo: targetGroupRaw || null,\n        match_nome: matchName,\n        match_grupo: matchGroup,\n        score,\n      },\n      agente_validacao_status: (matchName \u0026\u0026 matchGroup) ? \u0027aprovado\u0027 : \u0027aprovado_sem_alvo\u0027,\n    },\n  };\n\n  if (nome) {\n    namedContacts.push(normalized);\n  } else {\n    unnamedContacts.push(normalized);\n  }\n}\n\nlet out = [...namedContacts, ...unnamedContacts];\n\nif (directTargetEnabled) {\n  out = out.sort((a, b) =\u003e (b.json.agente_validacao?.score || 0) - (a.json.agente_validacao?.score || 0));\n}\n\nout = out.slice(0, effectiveMaxContacts);\nout = out.map((entry, index) =\u003e ({\n  ...entry,\n  json: {\n    ...entry.json,\n    dispatch_sequence: index + 1,\n    status_campanha_programado: \u0027Enviando\u0027,\n    ramp_day: rampDay,\n    ramp_limit: rampLimit,\n    max_contacts_execucao: effectiveMaxContacts,\n  },\n}));\n\nif (!out.length) {\n  let message = `Nenhum contato valido encontrado na planilha local para audiencia \\\"${audienceMode}\\\".`;\n\n  if (directTargetEnabled) {\n    message = \u0027Nenhum contato encontrado para o alvo de validacao (nome/grupo).\u0027;\n  } else if (groupFilters.length) {\n    message = \u0027Nenhum contato encontrado para o filtro de grupo informado.\u0027;\n  }\n\n  return [{\n    json: {\n      _campaignDone: true,\n      message,\n      campanha_id: campaignId,\n      status_campanha_filtro: campaignStatusFilters.join(\u0027|\u0027),\n      alvo_nome: targetNameRaw || null,\n      alvo_grupo: targetGroupRaw || null,\n    },\n  }];\n}\n\nreturn out;"},"id":"69e43cbe-5363-4136-b321-a538c19fa678","name":"Filtrar Contatos Validos","type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-32]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-no-contacts","leftValue":"={{ $json._campaignDone }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"55960b7b-02b1-4f8a-b39b-4fb5a785a82b","name":"Ha Contatos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[368,-32]},{"parameters":{"jsCode":"return [{ json: { status: \u0027sem_contatos\u0027, message: $json.message || \u0027Sem contatos para enviar.\u0027 } }];"},"id":"cf9afa61-19e2-4843-9c69-cff66e2780a1","name":"Sem Contatos","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-time-window","leftValue":"={{ (() =\u003e { const tz = String($env.CAMPAIGN_TIMEZONE || \u0027America/Sao_Paulo\u0027); const h = Number(new Intl.DateTimeFormat(\u0027en-US\u0027, { hour: \u00272-digit\u0027, hour12: false, timeZone: tz }).format(new Date())); const start = Number($env.CAMPAIGN_START_HOUR || 9); const end = Number($env.CAMPAIGN_END_HOUR || 17); return h \u003e= start \u0026\u0026 h \u003c end; })() }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"caf426f1-4a4b-484e-b807-7d287a17487d","name":"Dentro da Janela 09h-17h?","type":"n8n-nodes-base.if","typeVersion":2,"position":[608,-32]},{"parameters":{"jsCode":"return [{\n  json: {\n    status: \u0027fora_janela_envio\u0027,\n    message: \u0027Execucao encerrada: fora da janela permitida (09:00-17:00).\u0027,\n    now: new Date().toISOString()\n  }\n}];"},"id":"909da0ac-80f0-4014-be9d-1ac32928ea1d","name":"Fora da Janela de Envio","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-112]},{"parameters":{"options":{}},"id":"6b531aa7-6446-43a0-922b-71fc5d30e2cf","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,96]},{"parameters":{"jsCode":"const nomeCompletoRaw = String($json.nome || \u0027\u0027).trim();\nconst primeiroNomeRaw = String($json.primeiro_nome || \u0027\u0027).trim();\nconst primeiroNome = primeiroNomeRaw || (nomeCompletoRaw ? nomeCompletoRaw.split(\u0027 \u0027)[0] : \u0027\u0027);\nconst nome = primeiroNome \u0026\u0026 primeiroNome.toLowerCase() !== \u0027cliente\u0027 ? primeiroNome : \u0027\u0027;\nconst categoria = String($json.categoria || \u0027Cliente\u0027).trim() || \u0027Cliente\u0027;\nconst foco = String($env.CAMPAIGN_TEMPLATE_FOCUS || \u0027imoveis de luxo\u0027).trim();\nconst campaignId = String($env.CAMPAIGN_ID || `campanha_${new Date().toISOString().slice(0, 10)}`);\nconst campaignStatusColumn = String($env.CAMPAIGN_STATUS_COLUMN || \u0027status_campanha\u0027).trim();\nconst campaignStatusIdColumn = String($env.CAMPAIGN_STATUS_ID_COLUMN || \u0027campanha_status_id\u0027).trim();\nconst templateMode = String($env.CAMPAIGN_TEMPLATE_MODE || \u0027hogar\u0027).toLowerCase();\nconst useAtMention = String($env.CAMPAIGN_USE_AT_MENTION || \u0027false\u0027).toLowerCase() === \u0027true\u0027;\nconst greetingStrategyRaw = String($env.CAMPAIGN_GREETING_STRATEGY || \u0027rotativo\u0027).trim().toLowerCase();\nconst greetingStrategy = [\u0027rotativo\u0027, \u0027formal\u0027, \u0027consultivo\u0027, \u0027direto\u0027].includes(greetingStrategyRaw) ? greetingStrategyRaw : \u0027rotativo\u0027;\nconst delayProfileRaw = String($env.CAMPAIGN_DELAY_PROFILE || \u0027\u0027).trim();\nconst delaySwitchEvery = Math.max(1, Number($env.CAMPAIGN_DELAY_SWITCH_EVERY || 8));\n\nconst csvStateKey = String($json.csv_state_key || \u0027\u0027);\nconst csvRowIndex = Number($json.row_index_csv);\n\nconst updateCsvState = (statusValue) =\u003e {\n  if (!csvStateKey || !Number.isInteger(csvRowIndex) || csvRowIndex \u003c 0) return;\n\n  const staticData = $getWorkflowStaticData(\u0027global\u0027);\n  const state = staticData[csvStateKey];\n  if (!state || !Array.isArray(state.rows) || !state.rows[csvRowIndex]) return;\n\n  const row = state.rows[csvRowIndex];\n  row[campaignStatusColumn] = statusValue;\n  row.status_campanha = statusValue;\n  row.status_programacao = statusValue;\n  row[campaignStatusIdColumn] = campaignId;\n  row.campanha_status_id = campaignId;\n  state.rows[csvRowIndex] = row;\n  staticData[csvStateKey] = state;\n};\n\nconst normalizeTag = (value) =\u003e {\n  const clean = String(value || \u0027\u0027)\n    .trim()\n    .replace(/^@+/, \u0027\u0027)\n    .normalize(\u0027NFD\u0027)\n    .replace(/[\\u0300-\\u036f]/g, \u0027\u0027)\n    .replace(/[^\\p{L}\\p{N}_.]/gu, \u0027\u0027)\n    .toLowerCase();\n  return clean ? `@${clean}` : \u0027\u0027;\n};\n\nconst normalizeText = (value) =\u003e String(value || \u0027\u0027)\n  .normalize(\u0027NFD\u0027)\n  .replace(/[\\u0300-\\u036f]/g, \u0027\u0027)\n  .toLowerCase();\n\nconst originalPhone = String($json.phone || \u0027\u0027).replace(/\\D/g, \u0027\u0027);\nconst forcePhoneRaw = String($env.CAMPAIGN_FORCE_PHONE || \u0027\u0027).trim();\nconst forceDigits = forcePhoneRaw.replace(/\\D/g, \u0027\u0027);\nconst forcedPhone = forceDigits ? (forceDigits.startsWith(\u002755\u0027) ? forceDigits : `55${forceDigits}`) : \u0027\u0027;\nconst usarNumeroTeste = forcedPhone.length \u003e= 12 \u0026\u0026 forcedPhone.length \u003c= 13;\nconst phoneDestino = usarNumeroTeste ? forcedPhone : originalPhone;\nconst alertaNumeroTeste = forcePhoneRaw \u0026\u0026 !usarNumeroTeste\n  ? \u0027CAMPAIGN_FORCE_PHONE invalido. Seguindo telefone original.\u0027\n  : \u0027\u0027;\n\nconst telefonePlanilha = String($json.telefone_csv || originalPhone || \u0027\u0027).replace(/\\D/g, \u0027\u0027);\nconst grupoOrigemBruto = String($json.grupo_principal || $json.grupos_origem || \u0027\u0027).trim();\nconst grupoOrigem = grupoOrigemBruto\n  .replace(/excel results/ig, \u0027\u0027)\n  .replace(/\\s*\\|\\s*/g, \u0027 | \u0027)\n  .replace(/\\s+/g, \u0027 \u0027)\n  .trim();\nconst grupoPrincipal = grupoOrigem ? grupoOrigem.split(\u0027|\u0027)[0].trim() : \u0027\u0027;\n\nconst mentionFromHandle = normalizeTag(\n  $json.contato_tag\n    || $json.arroba\n    || $json.handle\n    || $json.username\n    || $json.user\n    || $json.instagram\n    || \u0027\u0027\n);\nconst mentionFromName = normalizeTag($json.at_nome || nome);\nconst mentionFromPhone = normalizeTag($json.at_numero || originalPhone || phoneDestino);\nconst mentionTag = mentionFromHandle || mentionFromName || mentionFromPhone || \u0027@cliente\u0027;\nconst mentionText = useAtMention ? mentionTag : \u0027\u0027;\nconst fallbackSaudacao = mentionText || (phoneDestino ? `+${phoneDestino}` : \u0027cliente\u0027);\nconst saudacaoAlvo = nome ? (mentionText ? `${nome} (${mentionText})` : nome) : fallbackSaudacao;\nconst tzSaudacao = String($env.CAMPAIGN_TIMEZONE || \u0027America/Sao_Paulo\u0027);\nconst horaSaudacao = Number(new Intl.DateTimeFormat(\u0027en-US\u0027, { hour: \u00272-digit\u0027, hour12: false, timeZone: tzSaudacao }).format(new Date()));\nconst saudacaoPeriodo = horaSaudacao \u003c 12 ? \u0027Bom dia\u0027 : (horaSaudacao \u003c 18 ? \u0027Boa tarde\u0027 : \u0027Boa noite\u0027);\n\nconst parseDelayProfiles = (raw, fallbackMin, fallbackMax) =\u003e {\n  const defaults = [{ min: fallbackMin, max: fallbackMax }];\n  if (!raw) return defaults;\n\n  const parsed = String(raw)\n    .split(/[|;]/)\n    .map((chunk) =\u003e chunk.trim())\n    .filter(Boolean)\n    .map((chunk) =\u003e {\n      const match = chunk.match(/^(\\d+)(?:\\s*[-:]\\s*(\\d+))?$/);\n      if (!match) return null;\n      const a = Number(match[1]);\n      const b = Number(match[2] || match[1]);\n      if (!Number.isFinite(a) || !Number.isFinite(b)) return null;\n      const min = Math.max(1, Math.min(a, b));\n      const max = Math.max(min, Math.max(a, b));\n      return { min, max };\n    })\n    .filter(Boolean);\n\n  return parsed.length ? parsed : defaults;\n};\n\nconst fallbackDelayMin = Math.max(1, Number($env.CAMPAIGN_DELAY_MIN_SECONDS || 25));\nconst fallbackDelayMax = Math.max(fallbackDelayMin, Number($env.CAMPAIGN_DELAY_MAX_SECONDS || 45));\nconst delayProfiles = parseDelayProfiles(delayProfileRaw, fallbackDelayMin, fallbackDelayMax);\nconst dispatchSequence = Math.max(1, Number($json.dispatch_sequence || 1));\nconst delayProfileIndex = Math.floor((dispatchSequence - 1) / delaySwitchEvery) % delayProfiles.length;\nconst selectedDelayProfile = delayProfiles[delayProfileIndex] || { min: fallbackDelayMin, max: fallbackDelayMax };\nconst baseDelaySeconds = Math.floor(selectedDelayProfile.min + Math.random() * (selectedDelayProfile.max - selectedDelayProfile.min + 1));\n\nconst longBreakEnabled = String($env.CAMPAIGN_LONG_BREAK_ENABLED || \u0027true\u0027).toLowerCase() === \u0027true\u0027;\nconst longBreakEveryMinRaw = Number($env.CAMPAIGN_LONG_BREAK_EVERY_MIN || 20);\nconst longBreakEveryMaxRaw = Number($env.CAMPAIGN_LONG_BREAK_EVERY_MAX || 30);\nconst longBreakEveryMin = Math.max(1, Math.min(longBreakEveryMinRaw, longBreakEveryMaxRaw));\nconst longBreakEveryMax = Math.max(longBreakEveryMin, Math.max(longBreakEveryMinRaw, longBreakEveryMaxRaw));\nconst longBreakMinSecondsRaw = Number($env.CAMPAIGN_LONG_BREAK_MIN_SECONDS || 300);\nconst longBreakMaxSecondsRaw = Number($env.CAMPAIGN_LONG_BREAK_MAX_SECONDS || 720);\nconst longBreakMinSeconds = Math.max(30, Math.min(longBreakMinSecondsRaw, longBreakMaxSecondsRaw));\nconst longBreakMaxSeconds = Math.max(longBreakMinSeconds, Math.max(longBreakMinSecondsRaw, longBreakMaxSecondsRaw));\n\nconst campaignHashSeed = `${campaignId}|${delayProfileRaw}|${greetingStrategy}`;\nlet campaignHash = 0;\nfor (const ch of campaignHashSeed) {\n  campaignHash = ((campaignHash \u003c\u003c 5) - campaignHash + ch.charCodeAt(0)) \u003e\u003e\u003e 0;\n}\n\nconst longBreakEveryRange = Math.max(1, (longBreakEveryMax - longBreakEveryMin + 1));\nconst longBreakEvery = longBreakEveryMin + (campaignHash % longBreakEveryRange);\nconst shouldLongBreak = longBreakEnabled \u0026\u0026 longBreakEvery \u003e 0 \u0026\u0026 dispatchSequence % longBreakEvery === 0;\nconst longBreakSeconds = shouldLongBreak\n  ? Math.floor(longBreakMinSeconds + Math.random() * (longBreakMaxSeconds - longBreakMinSeconds + 1))\n  : 0;\n\nconst delaySeconds = baseDelaySeconds + longBreakSeconds;\n\nconst origemResponsavel = String($json.origem_responsavel || \u0027Equipe Hogar\u0027).trim();\nconst perfilGrupo = String($json.perfil_grupo || \u0027geral\u0027).trim().toLowerCase();\nconst ticketSegmento = String($json.ticket_segmento || \u0027premium\u0027).trim().toLowerCase();\nconst ticketRaw = String($json.ticket_interesse_raw || \u0027\u0027).trim();\nconst oportunidade = String($json.oportunidade_recomendada || foco).trim();\nconst contextoOrigem = String($json.mensagem_contexto_origem || \u0027\u0027).trim() ||\n  (grupoPrincipal\n    ? `Peguei seu contato no grupo \"${grupoPrincipal}\" com ${origemResponsavel}.`\n    : `Peguei seu contato por indicacao com ${origemResponsavel}.`);\n\nconst hashSeed = `${originalPhone}|${campaignId}|${grupoPrincipal}|${categoria}|${nome}|${mentionTag}|${perfilGrupo}|${ticketSegmento}`;\nlet hash = 0;\nfor (const ch of hashSeed) {\n  hash = ((hash \u003c\u003c 5) - hash + ch.charCodeAt(0)) \u003e\u003e\u003e 0;\n}\n\nconst pick = (arr, salt = 0) =\u003e {\n  if (!arr.length) return \u0027\u0027;\n  const index = (hash + salt + Math.floor(Math.random() * 997)) % arr.length;\n  return arr[index];\n};\n\nconst maybe = (value, chance = 0.5) =\u003e (Math.random() \u003c chance ? value : \u0027\u0027);\n\nconst abordagemPorPerfil = {\n  parceiro: \u0027Temos uma oportunidade alinhada para parceria comercial da sua rede.\u0027,\n  investidor: \u0027Temos uma oportunidade com foco em valorizacao e estrutura de investimento.\u0027,\n  morador: \u0027Temos uma oportunidade residencial que pode fazer sentido para voce.\u0027,\n  luxo: \u0027Temos uma oportunidade premium da carteira Hogar Imoveis de Luxo.\u0027,\n  geral: \u0027Temos uma oportunidade imobiliaria selecionada para seu perfil.\u0027,\n};\n\nconst ctaPorPerfil = {\n  parceiro: [\n    \u0027Posso te enviar os detalhes de parceria e comissionamento?\u0027,\n    \u0027Quer que eu te mande agora as condicoes comerciais dessa oportunidade?\u0027,\n  ],\n  investidor: [\n    \u0027Posso te enviar o resumo de ticket, potencial e condicoes dessa oportunidade?\u0027,\n    \u0027Quer que eu te mande uma analise objetiva dessa opcao?\u0027,\n  ],\n  morador: [\n    \u0027Posso te encaminhar os detalhes e disponibilidade por aqui?\u0027,\n    \u0027Quer que eu te envie um resumo com condicoes e proximos passos?\u0027,\n  ],\n  luxo: [\n    \u0027Posso te enviar agora os detalhes completos dessa oportunidade premium?\u0027,\n    \u0027Quer que eu te encaminhe a apresentacao dessa opcao de alto padrao?\u0027,\n  ],\n  geral: [\n    \u0027Posso te enviar os detalhes dessa oportunidade agora?\u0027,\n    \u0027Quer que eu te encaminhe um resumo rapido por aqui?\u0027,\n  ],\n};\n\nlet mensagemFinal = \u0027\u0027;\nlet templateName = `T${(hash % 7) + 1}`;\n\nif (templateMode === \u0027debug\u0027) {\n  templateName = \u0027DEBUG\u0027;\n  mensagemFinal = [\n    \u0027TESTE TECNICO - AGENTE VALIDACAO\u0027,\n    `contato_id: ${$json.contato_id || \u0027-\u0027}`,\n    `nome: ${nome || \u0027-\u0027}`,\n    `mention_tag: ${mentionText || \u0027(desabilitado)\u0027}`,\n    `grupo_principal: ${grupoPrincipal || \u0027-\u0027}`,\n    `origem_responsavel: ${origemResponsavel}`,\n    `perfil_grupo: ${perfilGrupo}`,\n    `ticket_segmento: ${ticketSegmento}`,\n    `ticket_raw: ${ticketRaw || \u0027-\u0027}`,\n    `oportunidade: ${oportunidade}`,\n    `contexto_origem: ${contextoOrigem}`,\n    `telefone_planilha: +${telefonePlanilha || \u0027-\u0027}`,\n    `telefone_destino: +${phoneDestino || \u0027-\u0027}`,\n    `campaign_id: ${campaignId}`,\n  ].join(\u0027\\n\u0027);\n}\n\nif (templateMode === \u0027hogar\u0027) {\n  const buildOpenings = (targetLabel) =\u003e {\n    const poolFormal = [\n      `${saudacaoPeriodo}, ${targetLabel}. Aqui e da equipe Hogar Imoveis de Luxo.`,\n      `${saudacaoPeriodo}, ${targetLabel}. Tudo bem? Falando da Hogar Imoveis de Luxo.`,\n      `${saudacaoPeriodo}, ${targetLabel}. Time comercial da Hogar Imoveis de Luxo por aqui.`,\n    ];\n\n    const poolConsultivo = [\n      `${saudacaoPeriodo}, ${targetLabel}. Posso te mandar uma oportunidade alinhada ao seu perfil?`,\n      `${saudacaoPeriodo}, ${targetLabel}. Tudo certo por ai? Separei um contato consultivo rapido.`,\n      `${saudacaoPeriodo}, ${targetLabel}. Quero te apresentar uma oportunidade com abordagem consultiva.`,\n    ];\n\n    const poolDireto = [\n      `${saudacaoPeriodo}, ${targetLabel}. Tenho uma oportunidade objetiva para te apresentar.`,\n      `${saudacaoPeriodo}, ${targetLabel}. Vim direto ao ponto com uma oportunidade selecionada.`,\n      `${saudacaoPeriodo}, ${targetLabel}. Separei uma opcao que pode fazer sentido para voce.`,\n    ];\n\n    if (greetingStrategy === \u0027formal\u0027) return poolFormal;\n    if (greetingStrategy === \u0027consultivo\u0027) return poolConsultivo;\n    if (greetingStrategy === \u0027direto\u0027) return poolDireto;\n    return [...poolFormal, ...poolConsultivo, ...poolDireto];\n  };\n\n  const aberturasComNome = buildOpenings(saudacaoAlvo);\n  const aberturasSemNome = buildOpenings(fallbackSaudacao);\n\n  const contextos = [\n    `${contextoOrigem} Vim te enviar uma oportunidade de ${oportunidade}.`,\n    `${contextoOrigem} Separei para voce uma oportunidade de ${oportunidade}.`,\n    `${contextoOrigem} Tenho uma oportunidade de ${oportunidade} que pode fazer sentido para voce.`,\n  ];\n\n  if (grupoPrincipal) {\n    contextos.push(`No grupo \"${grupoPrincipal}\", identifiquei um perfil alinhado para ${oportunidade}.`);\n  }\n\n  if (ticketRaw) {\n    contextos.push(`Pelo seu perfil de ticket (${ticketRaw}), separei uma opcao bem direcionada.`);\n  }\n\n  const provas = [\n    abordagemPorPerfil[perfilGrupo] || abordagemPorPerfil.geral,\n    \u0027Atendimento consultivo, sem pressao comercial.\u0027,\n    \u0027Se nao fizer sentido agora, sem problema algum.\u0027,\n  ];\n\n  const ctas = ctaPorPerfil[perfilGrupo] || ctaPorPerfil.geral;\n\n  const assinaturas = [\n    \u0027Equipe Hogar Imoveis de Luxo\u0027,\n    \u0027Consultoria Hogar Imoveis de Luxo\u0027,\n    \u0027Time Comercial Hogar Imoveis de Luxo\u0027,\n  ];\n\n  const abertura = nome ? pick(aberturasComNome, 11) : pick(aberturasSemNome, 13);\n  const contexto = pick(contextos, 17);\n  const prova = pick(provas, 19);\n  const cta = pick(ctas, 23);\n  const assinatura = pick(assinaturas, 31);\n  const fechamento = maybe(\u0027Aguardo seu retorno.\u0027, 0.72);\n\n  mensagemFinal = [abertura, contexto, prova, cta, fechamento, `(${assinatura})`]\n    .filter(Boolean)\n    .join(\u0027 \u0027);\n\n  templateName = `HOGAR_${perfilGrupo.toUpperCase()}_${ticketSegmento.toUpperCase()}_V${((hash + Math.floor(Math.random() * 1000)) % 25) + 1}`;\n}\n\nif (templateMode !== \u0027hogar\u0027 \u0026\u0026 templateMode !== \u0027debug\u0027) {\n  const basicos = [\n    `${saudacaoAlvo}, ${contextoOrigem} Vim te apresentar uma oportunidade de ${oportunidade}. Aguardo seu retorno!`,\n    `${saudacaoAlvo}, tudo certo? Somos da Hogar Imoveis de Luxo. ${contextoOrigem} Posso te enviar uma oportunidade de ${oportunidade}?`,\n    `${saudacaoAlvo}, aqui e da Hogar Imoveis de Luxo. ${contextoOrigem} Tenho uma oportunidade de ${oportunidade} para te mostrar.`,\n  ];\n\n  mensagemFinal = pick(basicos, 41);\n}\n\nupdateCsvState(\u0027Enviando\u0027);\n\nreturn [{\n  json: {\n    ...$json,\n    campaignId,\n    template_id: templateName,\n    mensagem_final: mensagemFinal,\n    categoria,\n    mention_tag: mentionTag,\n    origem_responsavel: origemResponsavel,\n    perfil_grupo: perfilGrupo,\n    ticket_segmento: ticketSegmento,\n    oportunidade_grupo: oportunidade,\n    at_nome: mentionFromName,\n    at_numero: mentionFromPhone,\n    phone_original: originalPhone,\n    phone_destino: phoneDestino,\n    phone: phoneDestino,\n    modo_teste_numero: usarNumeroTeste,\n    alerta_numero_teste: alertaNumeroTeste,\n    template_mode: templateMode,\n    delay_seconds: delaySeconds,\n    delay_base_seconds: baseDelaySeconds,\n    long_break_seconds: longBreakSeconds,\n    long_break_applied: shouldLongBreak,\n    long_break_every: longBreakEvery,\n    delay_profile_index: delayProfileIndex,\n    delay_profile_range: `${selectedDelayProfile.min}-${selectedDelayProfile.max}`,\n    dispatch_sequence: dispatchSequence,\n\n    status_campanha: \u0027Enviando\u0027,\n    status_campanha_normalizado: \u0027enviando\u0027,\n    campanha_status_id: campaignId,\n    status_campanha_coluna: campaignStatusColumn,\n    campanha_status_id_coluna: campaignStatusIdColumn,\n  },\n}];"},"id":"3f18ea68-511c-4fc1-b902-dcbe7a0ff9b4","name":"Montar Template Teste","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-dry-run","leftValue":"={{ String($env.CAMPAIGN_DRY_RUN || \u0027true\u0027).toLowerCase() === \u0027true\u0027 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"bf1b40d0-9d57-47c5-897b-4e9ba5d5c997","name":"Modo Dry Run?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1088,96]},{"parameters":{"jsCode":"const campaignId = String($json.campaignId || $env.CAMPAIGN_ID || `campanha_${new Date().toISOString().slice(0, 10)}`);\nconst csvStateKey = String($json.csv_state_key || \u0027\u0027);\nconst rowIndex = Number($json.row_index_csv);\n\nconst statusColumn = String($json.status_campanha_coluna || $env.CAMPAIGN_STATUS_COLUMN || \u0027status_campanha\u0027).trim();\nconst statusIdColumn = String($json.campanha_status_id_coluna || $env.CAMPAIGN_STATUS_ID_COLUMN || \u0027campanha_status_id\u0027).trim();\n\nconst executionId = String(\n  $json.csv_execution_id ||\n  ((typeof $execution !== \u0027undefined\u0027 \u0026\u0026 $execution \u0026\u0026 $execution.id) ? $execution.id : \u0027\u0027)\n);\nconst runtimeKey = executionId ? `campaign_runtime_${executionId}` : \u0027\u0027;\nconst killSwitchThreshold = Math.max(1, Number($env.CAMPAIGN_KILL_SWITCH_ERRORS || 3));\n\nconst staticData = $getWorkflowStaticData(\u0027global\u0027);\n\nif (csvStateKey \u0026\u0026 Number.isInteger(rowIndex) \u0026\u0026 rowIndex \u003e= 0) {\n  const state = staticData[csvStateKey];\n  if (state \u0026\u0026 Array.isArray(state.rows) \u0026\u0026 state.rows[rowIndex]) {\n    state.rows[rowIndex][statusColumn] = \u0027Nao Enviado\u0027;\n    state.rows[rowIndex].status_campanha = \u0027Nao Enviado\u0027;\n    state.rows[rowIndex].status_programacao = \u0027Nao Enviado\u0027;\n    state.rows[rowIndex][statusIdColumn] = campaignId;\n    state.rows[rowIndex].campanha_status_id = campaignId;\n    staticData[csvStateKey] = state;\n  }\n}\n\nlet consecutiveErrors = 0;\nif (runtimeKey) {\n  const runtime = staticData[runtimeKey] || {\n    consecutiveErrors: 0,\n    totalErrors: 0,\n    totalSent: 0,\n    killSwitchTriggered: false,\n  };\n\n  runtime.consecutiveErrors = 0;\n  runtime.totalSent = Number(runtime.totalSent || 0) + 1;\n  runtime.lastStatus = \u0027dry_run\u0027;\n  runtime.lastError = \u0027\u0027;\n  runtime.updatedAt = new Date().toISOString();\n\n  staticData[runtimeKey] = runtime;\n  consecutiveErrors = Number(runtime.consecutiveErrors || 0);\n}\n\nreturn [{\n  json: {\n    ...$json,\n    envio_ok: true,\n    envio_status: \u0027dry_run\u0027,\n    envio_em: new Date().toISOString(),\n    provider_message_id: \u0027\u0027,\n    provider_status: \u0027DRY_RUN\u0027,\n    erro_envio: \u0027\u0027,\n\n    campanha_status_id: campaignId,\n    status_campanha: \u0027Nao Enviado\u0027,\n    status_campanha_normalizado: \u0027nao_enviado\u0027,\n\n    consecutive_errors: consecutiveErrors,\n    kill_switch_threshold: killSwitchThreshold,\n    kill_switch_stop: false,\n    kill_switch_reason: \u0027\u0027,\n    runtime_key: runtimeKey,\n  }\n}];"},"id":"a6ec790e-4494-41a9-8330-58888bf13d10","name":"Registrar Preview (Dry Run)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-16]},{"parameters":{"method":"POST","url":"={{ $env.EVOLUTION_BASE_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.EVOLUTION_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.phone }}"},{"name":"text","value":"={{ $json.mensagem_final }}"}]},"options":{"timeout":30000}},"id":"b83d36a0-6886-4164-89b7-5dd812341ebe","name":"Enviar WhatsApp (Evolution)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,192],"continueOnFail":true},{"parameters":{"jsCode":"const leadData = $(\u0027Montar Template Teste\u0027).item.json;\nconst responseData = $input.item.json || {};\nconst inputError = $input.item.error || null;\n\nconst providerMessageId = responseData?.key?.id || \u0027\u0027;\nconst providerStatus = responseData.status || (providerMessageId ? \u0027PENDING\u0027 : \u0027ERROR\u0027);\n\nconst providerErrorMessage =\n  (inputError \u0026\u0026 inputError.message)\n  || responseData.message\n  || responseData.error\n  || \u0027\u0027;\n\nconst hasProviderError = !!providerErrorMessage \u0026\u0026 !providerMessageId;\nconst envioOk = !!providerMessageId \u0026\u0026 !hasProviderError;\n\nconst campaignId = String(leadData.campaignId || $env.CAMPAIGN_ID || `campanha_${new Date().toISOString().slice(0, 10)}`);\nconst csvStateKey = String(leadData.csv_state_key || \u0027\u0027);\nconst rowIndex = Number(leadData.row_index_csv);\nconst statusColumn = String(leadData.status_campanha_coluna || $env.CAMPAIGN_STATUS_COLUMN || \u0027status_campanha\u0027).trim();\nconst statusIdColumn = String(leadData.campanha_status_id_coluna || $env.CAMPAIGN_STATUS_ID_COLUMN || \u0027campanha_status_id\u0027).trim();\n\nconst executionId = String(\n  leadData.csv_execution_id ||\n  ((typeof $execution !== \u0027undefined\u0027 \u0026\u0026 $execution \u0026\u0026 $execution.id) ? $execution.id : \u0027\u0027)\n);\nconst runtimeKey = executionId ? `campaign_runtime_${executionId}` : \u0027\u0027;\nconst killSwitchThreshold = Math.max(1, Number($env.CAMPAIGN_KILL_SWITCH_ERRORS || 3));\n\nconst staticData = $getWorkflowStaticData(\u0027global\u0027);\n\nif (csvStateKey \u0026\u0026 Number.isInteger(rowIndex) \u0026\u0026 rowIndex \u003e= 0) {\n  const state = staticData[csvStateKey];\n  if (state \u0026\u0026 Array.isArray(state.rows) \u0026\u0026 state.rows[rowIndex]) {\n    const finalStatus = envioOk ? \u0027Enviado\u0027 : \u0027Nao Enviado\u0027;\n    state.rows[rowIndex][statusColumn] = finalStatus;\n    state.rows[rowIndex].status_campanha = finalStatus;\n    state.rows[rowIndex].status_programacao = finalStatus;\n    state.rows[rowIndex][statusIdColumn] = campaignId;\n    state.rows[rowIndex].campanha_status_id = campaignId;\n    staticData[csvStateKey] = state;\n  }\n}\n\nlet consecutiveErrors = 0;\nlet killSwitchStop = false;\nlet killSwitchReason = \u0027\u0027;\n\nif (runtimeKey) {\n  const runtime = staticData[runtimeKey] || {\n    consecutiveErrors: 0,\n    totalErrors: 0,\n    totalSent: 0,\n    killSwitchTriggered: false,\n  };\n\n  if (envioOk) {\n    runtime.consecutiveErrors = 0;\n    runtime.totalSent = Number(runtime.totalSent || 0) + 1;\n  } else {\n    runtime.consecutiveErrors = Number(runtime.consecutiveErrors || 0) + 1;\n    runtime.totalErrors = Number(runtime.totalErrors || 0) + 1;\n  }\n\n  consecutiveErrors = Number(runtime.consecutiveErrors || 0);\n  killSwitchStop = !envioOk \u0026\u0026 consecutiveErrors \u003e= killSwitchThreshold;\n\n  if (killSwitchStop) {\n    killSwitchReason = `${consecutiveErrors} erros consecutivos no envio`;\n    runtime.killSwitchTriggered = true;\n    runtime.killSwitchReason = killSwitchReason;\n    runtime.killSwitchAt = new Date().toISOString();\n  }\n\n  runtime.lastStatus = envioOk ? \u0027enviado\u0027 : \u0027erro\u0027;\n  runtime.lastError = envioOk ? \u0027\u0027 : (providerErrorMessage || \u0027Erro desconhecido no envio Evolution\u0027);\n  runtime.updatedAt = new Date().toISOString();\n\n  staticData[runtimeKey] = runtime;\n}\n\nreturn [{\n  json: {\n    ...leadData,\n    envio_ok: envioOk,\n    envio_status: envioOk ? \u0027enviado\u0027 : \u0027erro\u0027,\n    envio_em: new Date().toISOString(),\n    provider_message_id: providerMessageId,\n    provider_status: providerStatus,\n    erro_envio: envioOk ? \u0027\u0027 : (providerErrorMessage || \u0027Erro desconhecido no envio Evolution\u0027),\n\n    campanha_status_id: campaignId,\n    status_campanha: envioOk ? \u0027Enviado\u0027 : \u0027Nao Enviado\u0027,\n    status_campanha_normalizado: envioOk ? \u0027enviado\u0027 : \u0027nao_enviado\u0027,\n\n    consecutive_errors: consecutiveErrors,\n    kill_switch_threshold: killSwitchThreshold,\n    kill_switch_stop: killSwitchStop,\n    kill_switch_reason: killSwitchReason,\n    runtime_key: runtimeKey,\n  }\n}];"},"id":"caa32f41-beb2-4b64-8cfc-9a5c3494a44a","name":"Classificar Resultado","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,192]},{"parameters":{"amount":"={{ Number($json.delay_seconds || Math.floor(Number($env.CAMPAIGN_DELAY_MIN_SECONDS || 25) + Math.random() * (Number($env.CAMPAIGN_DELAY_MAX_SECONDS || 45) - Number($env.CAMPAIGN_DELAY_MIN_SECONDS || 25) + 1))) }}"},"id":"5c653b8f-a314-42fc-8db2-3f52d347cbea","name":"Espera Anti-RateLimit","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1808,96],"webhookId":"4a3498fd-ddb4-4bc3-bb71-c31fd2465ad1"},{"parameters":{"jsCode":"const fs = require(\u0027fs\u0027);\n\nconst executionId = (typeof $execution !== \u0027undefined\u0027 \u0026\u0026 $execution \u0026\u0026 $execution.id)\n  ? String($execution.id)\n  : \u0027\u0027;\n\nif (!executionId) {\n  return [{\n    json: {\n      persistencia_csv: false,\n      message: \u0027execution_id_ausente\u0027\n    }\n  }];\n}\n\nconst staticData = $getWorkflowStaticData(\u0027global\u0027);\nconst stateKey = `campaign_csv_state_${executionId}`;\nconst state = staticData[stateKey];\n\nif (!state || !Array.isArray(state.rows) || !Array.isArray(state.headerKeys) || !state.path) {\n  return [{\n    json: {\n      persistencia_csv: false,\n      message: \u0027estado_csv_nao_encontrado\u0027,\n      stateKey,\n    }\n  }];\n}\n\nconst csvEscape = (value) =\u003e {\n  const str = String(value ?? \u0027\u0027);\n  if (/[\",\\n\\r]/.test(str)) {\n    return `\"${str.replace(/\"/g, \u0027\"\"\u0027)}\"`;\n  }\n  return str;\n};\n\nconst lines = [];\nlines.push(state.headerKeys.map((key) =\u003e csvEscape(key)).join(\u0027,\u0027));\n\nfor (const row of state.rows) {\n  lines.push(state.headerKeys.map((key) =\u003e csvEscape(row[key])).join(\u0027,\u0027));\n}\n\nfs.writeFileSync(state.path, lines.join(\u0027\\n\u0027), \u0027utf8\u0027);\ndelete staticData[stateKey];\n\nreturn [{\n  json: {\n    persistencia_csv: true,\n    arquivo_csv: state.path,\n    total_linhas: state.rows.length,\n    execution_id: executionId,\n    atualizado_em: new Date().toISOString(),\n  }\n}];"},"id":"7a1500dd-112f-4f2c-b64a-6c6666f94ca5","name":"Persistir Status CSV","type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,-48]},{"parameters":{"jsCode":"const killSwitchStop = Boolean($json.kill_switch_stop);\n\nif (!killSwitchStop) {\n  return [{\n    json: {\n      ...$json,\n      anti_ban_action: \u0027continue\u0027\n    }\n  }];\n}\n\nconst campaignId = String($json.campaignId || $json.campanha_id || $env.CAMPAIGN_ID || \u0027campanha\u0027);\nconst threshold = Math.max(1, Number($json.kill_switch_threshold || $env.CAMPAIGN_KILL_SWITCH_ERRORS || 3));\nconst reason = String($json.kill_switch_reason || `${threshold} erros consecutivos no envio`).trim();\nconst executionId = String(\n  $json.csv_execution_id ||\n  ((typeof $execution !== \u0027undefined\u0027 \u0026\u0026 $execution \u0026\u0026 $execution.id) ? $execution.id : \u0027\u0027)\n);\n\nconst stopMessage = [\n  \u0027[ANTI-BAN] Campanha pausada automaticamente.\u0027,\n  `Campanha: ${campaignId}`,\n  `Execucao: ${executionId || \u0027-\u0027}`,\n  `Motivo: ${reason}`,\n  `Threshold: ${threshold}`,\n  `Horario: ${new Date().toISOString()}`,\n].join(\u0027\\n\u0027);\n\nreturn [{\n  json: {\n    ...$json,\n    anti_ban_action: \u0027stop\u0027,\n    kill_switch_stop: true,\n    kill_switch_reason: reason,\n    kill_switch_message: stopMessage,\n  }\n}];"},"id":"d8435c78-9588-4f2e-9d35-4b2396cdbf4a","name":"Controle Kill Switch","type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,192]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-kill-switch-stop","leftValue":"={{ Boolean($json.kill_switch_stop) }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4fd3e8f5-b7bf-4de3-a3a5-6c52cb2bc15a","name":"Parar por Erros?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2048,192]},{"parameters":{"jsCode":"const cleanDigits = (value) =\u003e String(value || \u0027\u0027).replace(/\\D/g, \u0027\u0027);\nconst rawAlert = cleanDigits($env.CAMPAIGN_ALERT_PHONE || \u0027\u0027);\nconst alertPhone = rawAlert\n  ? (rawAlert.startsWith(\u002755\u0027) ? rawAlert : `55${rawAlert}`)\n  : \u0027\u0027;\n\nconst campaignId = String($json.campaignId || $json.campanha_id || $env.CAMPAIGN_ID || \u0027campanha\u0027);\nconst reason = String($json.kill_switch_reason || `${$json.kill_switch_threshold || 3} erros consecutivos no envio`).trim();\nconst executionId = String($json.csv_execution_id || \u0027\u0027);\n\nconst defaultMessage = [\n  \u0027[ANTI-BAN] Disparo pausado automaticamente.\u0027,\n  `Campanha: ${campaignId}`,\n  `Execucao: ${executionId || \u0027-\u0027}`,\n  `Motivo: ${reason}`,\n  `Horario: ${new Date().toISOString()}`,\n].join(\u0027\\n\u0027);\n\nreturn [{\n  json: {\n    ...$json,\n    alert_phone: alertPhone,\n    alert_message: String($json.kill_switch_message || defaultMessage).trim(),\n    alerta_enviado_para: alertPhone || \u0027\u0027,\n  }\n}];"},"id":"f73dca7a-d84e-4358-9eb3-c8ab3f80fbc0","name":"Preparar Alerta AntiBan","type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,272]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-alert-phone","leftValue":"={{ !!String($json.alert_phone || \u0027\u0027).trim() }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f8ca57e2-74f3-4e70-a70a-f4678f8f0f77","name":"Tem Telefone Alerta?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2528,272]},{"parameters":{"method":"POST","url":"={{ $env.EVOLUTION_BASE_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.EVOLUTION_API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.alert_phone }}"},{"name":"text","value":"={{ $json.alert_message }}"}]},"options":{"timeout":30000}},"id":"9cfe462f-2fb1-4cd4-bf20-22ae56e40c8b","name":"Enviar Alerta WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2768,272],"continueOnFail":true}],"connections":{"Teste Manual":{"main":[[{"node":"Ler CSV da Pasta Saida","type":"main","index":0}]]},"Ler CSV da Pasta Saida":{"main":[[{"node":"Converter CSV em Itens","type":"main","index":0}]]},"Converter CSV em Itens":{"main":[[{"node":"Filtrar Contatos Validos","type":"main","index":0}]]},"Filtrar Contatos Validos":{"main":[[{"node":"Ha Contatos?","type":"main","index":0}]]},"Ha Contatos?":{"main":[[{"node":"Sem Contatos","type":"main","index":0}],[{"node":"Dentro da Janela 09h-17h?","type":"main","index":0}]]},"Dentro da Janela 09h-17h?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Fora da Janela de Envio","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Persistir Status CSV","type":"main","index":0}],[{"node":"Montar Template Teste","type":"main","index":0}]]},"Montar Template Teste":{"main":[[{"node":"Modo Dry Run?","type":"main","index":0}]]},"Modo Dry Run?":{"main":[[{"node":"Registrar Preview (Dry Run)","type":"main","index":0}],[{"node":"Enviar WhatsApp (Evolution)","type":"main","index":0}]]},"Registrar Preview (Dry Run)":{"main":[[{"node":"Controle Kill Switch","type":"main","index":0}]]},"Enviar WhatsApp (Evolution)":{"main":[[{"node":"Classificar Resultado","type":"main","index":0}]]},"Classificar Resultado":{"main":[[{"node":"Controle Kill Switch","type":"main","index":0}]]},"Espera Anti-RateLimit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Controle Kill Switch":{"main":[[{"node":"Parar por Erros?","type":"main","index":0}]]},"Parar por Erros?":{"main":[[{"node":"Preparar Alerta AntiBan","type":"main","index":0}],[{"node":"Espera Anti-RateLimit","type":"main","index":0}]]},"Preparar Alerta AntiBan":{"main":[[{"node":"Tem Telefone Alerta?","type":"main","index":0}]]},"Tem Telefone Alerta?":{"main":[[{"node":"Enviar Alerta WhatsApp","type":"main","index":0}],[{"node":"Persistir Status CSV","type":"main","index":0}]]},"Enviar Alerta WhatsApp":{"main":[[{"node":"Persistir Status CSV","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"88a2d39c-d277-4ec8-929d-bfde7e22d5ca","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-09T11:41:57.677Z","createdAt":"2026-03-09T11:41:57.677Z","role":"workflow:owner","workflowId":"OUAfQLqhMta3uqPE","projectId":"VKWf49Vu7v2s4bgc","project":{"updatedAt":"2026-03-09T11:38:41.534Z","createdAt":"2026-03-06T22:27:00.285Z","id":"VKWf49Vu7v2s4bgc","name":"Guilherme Rubatto Camargo \u003crubattodev@gmail.com\u003e","type":"personal","icon":null,"description":null,"creatorId":"85e72e14-54ec-4305-862f-02ca13a6dc83"}}],"versionMetadata":{"name":null,"description":null}}